{% extends 'WhereGroupMetadorBundle:Design:withoutMenu.html.twig' %}

{% block content %}
<div>
    <div class="search-menu left">
    {% if paging.count > 0 %}
        {{ paging.currentPage }} / {{ paging.pages }}
    {% endif %}
    </div>
    <div class="search-menu center">
        <input type="text" id="search_find" name="find" value="{{ find }}" />
        <button id="search_find_submit">ok</button>
    </div>
    <div class="search-menu right">
        <span class="more" id="toggle_extended_search">erweitert</span>
    </div>
</div>
<div class="clear" />

<div class="extended-search" id="extended_search">
    abc
</div>
<div id="search_result"></div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#search_find_submit').live('click', function() {
           
            $.ajax({
                url: BASEDIR + "search/get",
                data: {"id" : id},
                type: "post",
                dataType: "html",
                success:  function(data) { 

                }
            });
            
        });
    });
</script>
{% endblock %}