{% extends 'WhereGroupPluginBundle::template.html.twig' %}

{% block content %}
<div class="plugin-view">
    <h1>{% trans %}Metadaten importieren{% endtrans %}</h1>

    <div class="plugin-description">
        {% trans %}Import und Export von Metadaten{% endtrans %}.
    </div>
</div>
{% endblock %}
