//$primary: #41586e;
$primary: #373739;
$content: #f7f7f7;
$center-left-color: #fefefe;
$center-left-menu-color: #f7f7f7;
$center-left-menu-font-color: darken($center-left-menu-color, 60%);

//$title-background: #e1e1e1;

$page-width: 1024px;
$page-top-height: 50px;
$center-left-width: 200px;
$center-top-height: 40px;
$center-left-menu-height: 40px;
