@import 'config';

@mixin normal-item($change-font-size: true, $set-padding: true) {
    @if $change-font-size == true {
        font-size: $font-normal;
    }

    @if $set-padding == true {
        padding: 0 $padding;
    }

    height: $normal-item-height;
    line-height: $normal-item-height;
}

@mixin small-item($change-font-size: true, $set-padding: true) {
    @if $change-font-size == true {
        font-size: $font-small;
    }

    @if $set-padding == true {
        padding: 0 10px;
    }

    height: $small-item-height;
    line-height: $small-item-height;
}

@mixin medium-item($change-font-size: true, $set-padding: true) {
    @if $change-font-size == true {
        font-size: $font-medium;
    }

    @if $set-padding == true {
        padding: 0 15px;
    }

    height: $medium-item-height;
    line-height: $medium-item-height;
}

@mixin large-item($change-font-size: true, $set-padding: true) {
    @if $change-font-size == true {
        font-size: $font-large;
    }

    @if $set-padding == true {
        padding: 0 25px;
    }

    height: $large-item-height;
    line-height: $large-item-height;
}

.light-normal {
    color: $font;
    background-color: $background;
    border: 1px solid $border;

    &:hover {
        background-color: darken($background, 1%);
        border: 1px solid darken($border, 1%);
    }
}

.light-info {
    color: $font;
    background-color: lighten($info, 30%);
    border: 1px solid lighten($info, 20%);

    &:hover {
        background-color: lighten($info, 29%);
        border: 1px solid lighten($info, 19%);
    }
}

.light-warning {
    background-color: lighten($warning, 30%);
    border: 1px solid lighten($warning, 20%);

    &:hover {
        background-color: lighten($warning, 29%);
        border: 1px solid lighten($warning, 19%);
    }
}

.light-success {
    color: $font;
    background-color: lighten($success, 30%);
    border: 1px solid lighten($success, 20%);

    &:hover {
        background-color: lighten($success, 29%);
        border: 1px solid lighten($success, 19%);
    }
}

.light-error {
    color: $font;
    background-color: lighten($error, 40%);
    border: 1px solid lighten($error, 30%);

    &:hover {
        background-color: lighten($error, 39%);
        border: 1px solid lighten($error, 29%);
    }
}

.dark-info,
.dark-success,
.dark-warning,
.dark-error {
    & > a {
        color: $white;
    }
}

.dark-normal {
    color: $font;
    background-color: $background;
    border: 1px solid $border;

    &:hover {
        background-color: darken($background, 5%);
        border: 1px solid darken($border, 5%);
    }
}

.dark-info {
    color: $white;
    background-color: $info;
    border: 1px solid darken($info, 10%);

    &:hover {
        background-color: darken($info, 10%);
        border: 1px solid darken($info, 15%);
    }
}

.dark-success {
    color: $white;
    background-color: $success;
    border: 1px solid darken($success, 10%);

    &:hover {
        background-color: darken($success, 10%);
        border: 1px solid darken($success, 15%);
    }
}

.dark-warning {
    color: $white;
    background-color: $warning;
    border: 1px solid darken($warning, 10%);

    &:hover {
        background-color: darken($warning, 10%);
        border: 1px solid darken($warning, 15%);
    }
}

.dark-error {
    color: $white;
    background-color: $error;
    border: 1px solid darken($error, 10%);

    &:hover {
        background-color: darken($error, 10%);
        border: 1px solid darken($error, 15%);
    }
}

.md .no-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.md .text-center {
    text-align: center;
}
