@import 'config';

* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.03);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.05);
}
