{% extends 'MetadorPluginBundle::template.html.twig' %}

{% block content %}
    <div class="plugin-view">
        <h1>{% trans %}Adressen{% endtrans %}</h1>

        <div class="plugin-description">
            {% trans %}Legt automatisch Adressen in der Datenbank ab{% endtrans %}.
        </div>
    </div>
{% endblock %}
