{% extends 'ProfileServiceBundle::template.html.twig' %}

{% block title %}MeTaDor - Dienste{% endblock %}

{% block menu %}
<ul class="profile-menu">
    <li data-tab="metadata" class="act">Metadatensatz</li>
    <li data-tab="identification">Identifikation</li>
    <li data-tab="classification">Klassifizierung</li>
    <li data-tab="keyword">Schlüsselwort</li>
    <li data-tab="geographic">Geografischer Standort</li>
    <li data-tab="temporal">Zeitbezug</li>
    <li data-tab="conformity">Übereinstimmung</li>
    <li data-tab="constraints">Beschränkungen</li>
    <li data-tab="responsibleparty">Zuständige Stelle</li>
</ul>
{% endblock %}

{% block content %}
{% if id is defined %}
    <input type="hidden" name="id" value="{{ id }}" />
    {% set path = 'metadata_edit' %}
    {% set param = {'profile' : profile, 'id': id} %}
{% else %}
    {% set path = 'metadata_new' %}
    {% set param = {'profile' : profile} %}
{% endif %}

<form action="{{ path(path, param) }}" method="post" name="metadataForm" class="metadataForm" autocomplete="off">
    <div class="metadataFormPages">
        <div id="metadata" class="act">
            {% include 'ProfileServiceBundle:Profile:metadata.html.twig' %}
        </div>
        <div id="identification">
            {% include 'ProfileServiceBundle:Profile:identification.html.twig' %}
        </div>
        <div id="classification">
            {% include 'ProfileServiceBundle:Profile:classification.html.twig' %}
        </div>
        <div id="keyword">
            {% include 'ProfileServiceBundle:Profile:keyword.html.twig' %}
        </div>
        <div id="geographic">
            {% include 'ProfileServiceBundle:Profile:geographic.html.twig' %}
        </div>
        <div id="temporal">
            {% include 'ProfileServiceBundle:Profile:temporal.html.twig' %}
        </div>
        <div id="conformity">
            {% include 'ProfileServiceBundle:Profile:conformity.html.twig' %}
        </div>
        <div id="constraints">
            {% include 'ProfileServiceBundle:Profile:constraints.html.twig' %}
        </div>
        <div id="responsibleparty">
            {% include 'ProfileServiceBundle:Profile:responsibleparty.html.twig' %}
        </div>
    </div>
</form>
{% endblock %}
