.table {
    border: 1px solid #ddd;
}

.plugin-row {
    height: 30px;
    line-height: 30px;

    & > td:first-child {
        width: 30px;
        text-align: center;
    }

    &.act > td {
        background-color: #cff7d7;
    }

    &.new > td {
        background-color: #fff7c6;
    }
}
