.fs-view {
    border: 1px solid $primary;
    margin: 20px;
    padding: 20px;
}

.title-box {
    position: relative;
    float: left;
    margin: 14px;
    width: ($pageWidth - $pageLeftWidth) / 2 - 50;
    border-bottom: 4px solid $success;
    &.disabled {
        border-color: silver;
    }
    &.superuser {
        border-color: $warning;
    }
    .title-box-logo {
        text-align: center;
        font-size: 60px;
        float: left;
        width: 80px;
        & > a:hover {
            text-decoration: none;
        }
    }
    .title-box-info {
        margin-left: 10px;
        .title {
            font-size: 25px;
            font-weight: bold;
            @include pos(0, 0, "", 90px);
        }
        .alternate {
            font-style: italic;
            font-size: 12px;
            @include pos(40px, 0, "", 90px);
        }
    }
}

.basic-form {
    & > div {
        label {
            @extend %label;
            margin: 10px 0;
        }
        input[type=text], input[type=password], select, textarea {
            border-color: silver;
            border-style: solid;
            font-size: 12px;
            color: #333;
            display: block;
            height: 30px;
            padding: 5px;
            background-color: white;
            width: 100%;
            border: 1px solid silver;
            padding: 10px 5px;
            @include box-shadow(lighten(#3d3f44, 60%) 1px 1px 3px);
            @include border-radius($radius);
            &[required=required] {
                border-color: $warning;
            }
        }
        select {
            height: 80px;
        }
        textarea {
            height: 80px;
        }
    }
}
