.fs-view {
    border: 1px solid $primary;
    margin: 20px;
    padding: 20px;
}

.basic-form {
    & > div {
        label {
            @extend %label;
            margin: 10px 0;
        }

        input, select {
            border-color: silver;
            border-style: solid;
            font-size: 12px;
            color: #333;
            display: block;
            height: 30px;
            padding: 5px;
            background-color: white;
            width: 100%;
            border: 1px solid silver;
            padding: 10px 5px;
            @include box-shadow(lighten(#3D3F44, 60%) 1px 1px 3px);
            @include border-radius($radius);
        }

        select {
            height: 80px;
        }
    }
}
