*~
*.db
*.db3
*.cache
*.phar
*.TODO
*.lock
*.sublime-workspace
#*Test*

.sass-cache
.idea
.project

/app/config/parameters.yml
/app/config/plugins.yml
/app/config/plugins_routing.yml
/app/SymfonyRequirements.php
/app/Resources/translations/user
/app/tmp
/bin
/vendor
/web/bundles
