# FILES
*~
*.db
*.db3
*.sqlite
*.cache
*.phar
*.TODO

# IDE'S
*.sublime-workspace
.sass-cache
.idea
.project

# PROJECT FOLDERS
/app/Resources/
/.web-server-pid
/app/config/parameters.yml
/bower_components/
/node_modules/
/bin/
/build/
/vendor/
/web/bundles/
/web/assets/

# /var/
var/cache/
var/logs/

# Ignore or allow Plugins
src/Plugins/*
!src/Plugins/WhereGroup
src/Plugins/WhereGroup/*
!src/Plugins/WhereGroup/BasicProfileBundle
!src/Plugins/WhereGroup/DatasetProfileBundle
!src/Plugins/WhereGroup/ServiceProfileBundle
!src/Plugins/WhereGroup/MapBundle
