# FILES
*~
*.db
*.db3
*.cache
*.phar
*.TODO
app/SymfonyRequirements.php
app/check.php

# IDE'S
*.sublime-workspace
.sass-cache
.idea
.project

# PROJECT FOLDERS
app/config/parameters.yml
bin
vendor
web/bundles
bower_components
node_modules

# Ignore or allow Plugins
src/Plugins/*

!src/Plugins/WhereGroup
src/Plugins/WhereGroup/*

!src/Plugins/WhereGroup/AddressBundle
!src/Plugins/WhereGroup/DatasetBundle
!src/Plugins/WhereGroup/HelptextBundle
!src/Plugins/WhereGroup/ServiceBundle
