{% set tabId = 'tab-identification' %}
<div class="mdtab-content" data-mdtab-content="identification">
    <h1 class="title">{% trans %}Identifizierung{% endtrans %}</h1>

    <div class="grid space responsive">
        <div class="row r-1">
            <div class="col c-1">
                {% include '@MetadorBasicProfile/Element/input.html.twig' with {
                    'name'            : 'p[title]',
                    'label'           : 'Titel',
                    'validatorSources': tabId,
                    'p'               : p
                } only %}
            </div>
        </div>
        <div class="row r-1">
            <div class="col c-1">
                {% include '@MetadorBasicProfile/Element/input.html.twig' with {
                    'name'            : 'p[alternateTitle]',
                    'label'           : 'Alternativtitel',
                    'type'            : 'optional',
                    'validatorSources': tabId,
                    'p'               : p
                } only %}
            </div>
        </div>
        <div class="row r-1">
            <div class="col c-1">
                {% include '@MetadorBasicProfile/Element/text.html.twig' with {
                    'name'            : 'p[abstract]',
                    'label'           : 'Kurzbeschreibung',
                    'type'            : 'optional',
                    'validatorSources': tabId,
                    'p'               : p
                } only %}
            </div>
        </div>

        <h2 class="title">{% trans %}Bezeichner{% endtrans %}</h2>

        <div class="row r-2">
            <div class="col c-1-2">
                {% include '@MetadorBasicProfile/Element/input.html.twig' with {
                    'name'            : 'p[identifierCode]',
                    'label'           : 'Code',
                    'validatorSources': tabId,
                    'p'               : p
                } only %}
            </div>
            <div class="col c-1-2">
                {% include '@MetadorBasicProfile/Element/input.html.twig' with {
                    'name'            : 'p[identifierCodespace]',
                    'label'           : 'Namensraum',
                    'type'            : 'optional',
                    'validatorSources': tabId,
                    'p'               : p
                } only %}
            </div>
        </div>

        <div class="row r-1">
            <div class="col c-1">
                {% if p['onlineResource'] is not defined %}
                    {% set p = p|merge({'onlineResource': ['']}) %}
                {% endif %}

                {{ profileForm.multi_input('p[onlineResource][]', p['onlineResource'], '', 'Ressourcenverweis', 'mandatory', '') }}
            </div>
        </div>
    </div>

    <div class="fieldset2 -js-multi-fieldset" data-count="{{ array_length(p, 'referencesysteminfo') }}">
        <div class="head">
            <div class="left">{% trans %}Koordinatenreferenzsystem{% endtrans %}</div>
            <div class="right">
                <span class="icon medium icon-plus -js-multi-fieldset-add"></span>
            </div>
        </div>
        <div class="rows -js-multi-fieldset-rows">
            {% dump(array_get(p, 'referencesysteminfo', [{}], true)) %}
            {% for row in array_get(p, 'referencesysteminfo', [{}], true) %}
            <div class="row -js-multi-field-row {% if loop.index0 == 0 %}-js-multi-fieldset-default-row{% endif %}">
                <div class="row-content">
                    <div class="grid space responsive">
                        <div class="row r-3">
                            <div class="col c-1-3">
                                {% include '@MetadorBasicProfile/Element/input.html.twig' with {
                                    'name'            : 'p[referencesysteminfo][' ~ loop.index0  ~ '][code]',
                                    'label'           : 'Referenzsystem-Code',
                                    'validatorSources': tabId,
                                    'p'               : p
                                } only %}
                            </div>
                            <div class="col c-1-3">
                                {% include '@MetadorBasicProfile/Element/input.html.twig' with {
                                    'name'            : 'p[referencesysteminfo][' ~ loop.index0  ~ '][codespace]',
                                    'label'           : 'Codespace',
                                    'validatorSources': tabId,
                                    'p'               : p
                                } only %}
                            </div>
                            <div class="col c-1-3">
                                {% include '@MetadorBasicProfile/Element/input.html.twig' with {
                                    'name'            : 'p[referencesysteminfo][' ~ loop.index0  ~ '][version]',
                                    'label'           : 'Version',
                                    'validatorSources': tabId,
                                    'p'               : p
                                } only %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-icon -js-multi-fieldset-icons">
                    {% if loop.index0 > 0 %}
                        <span class="icon icon-bin2 -js-multi-fieldset-remove"></span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
