.notify {
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    min-height: 40px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 10px;

    @include border-radius(5px);

    &.error {
        $color: #BD362F;
        border-color: $color darken($color, 10%) darken($color, 20%);
        background-color: #ffc2bf;
    }

    &.success {
        $color: #51A351;
        border-color: $color darken($color, 10%) darken($color, 20%);
        background-color: #b2ffbf;
    }
}
