.paging {
    position: relative;
    height: 30px;
    .left {
        width: 50px;
        text-align: center;
        @include pos(0, '', 0, 0);
    }

    .center {
        text-align: center;
        @include pos(0, 50px, 0, 50px);
    }

    .right {
        width: 50px;
        text-align: center;
        @include pos(0, 0, 0, '');
    }
}
