{% extends 'WhereGroupPluginBundle::template.html.twig' %}

{% block content %}
<div class="plugin-view">
    {{ plugin.info('Hilfetexte', 'Ermöglicht das Schreiben und abrufen von Hilfetexten. Zum erstellen der Hilfetexte wird die Rolle "ROLE_HELPTEXT_ADMIN" benötigt.') }}
</div>
{% endblock %}
