{% extends 'MetadorPluginBundle::template.html.twig' %}

{% block content %}
<div class="plugin-view">
    {{ plugin.info('Hilfetexte', 'Ermöglicht das Schreiben und abrufen von Hilfetexten. Zum erstellen der Hilfetexte wird die Rolle "ROLE_SYSTEM_GEO_OFFICE" benötigt.') }}
</div>
{% endblock %}
