parameters:
    locale: de
    secret: ThisTokenIsNotSoSecretChangeIt
    cookie_path: ~

    database.driver: pdo_sqlite
    database.host: localhost
    database.port: ~
    database.name: ~
    database.path: "%kernel.root_dir%/../metador.db"
    database.user: root
    database.password: ~
    database.charset: UTF8

    external.database.driver: pdo_pgsql
    external.database.host: localhost
    external.database.port: ~
    external.database.name: ~
    external.database.path: ~
    external.database.user: ~
    external.database.password: ~
    external.database.charset: UTF8