security:
    encoders:
        WhereGroup\UserBundle\Entity\User: sha512

    providers:
        main:
            entity:
                class: WhereGroup\UserBundle\Entity\User
                property: username

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        secured_area:
            pattern:    ^/
            anonymous: ~

            form_login:
                login_path: login
                check_path: login_check

            logout:
                path:   logout
                target: /

    access_control:
        - { path: ^/search, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin, roles: ROLE_SUPERUSER }
        - { path: ^/, roles: ROLE_USER }

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPERUSER: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]
