{% extends 'MetadorThemeBundle:Template:admin.html.twig' %}

{% block title %}{% trans %}Plugin löschen{% endtrans %}{% endblock %}

{% block content %}
    <strong>{{ pluginKey }}</strong> {% trans %}Wirklich löschen{% endtrans %}?

    <form action="{{ path('metador_admin_plugin_delete', { 'plugin': pluginKey }) }}" method="post">
        <button type="submit">{% trans %}löschen{% endtrans %}</button>
    </form>
{% endblock %}
