{% extends 'MetadorPluginBundle::template.html.twig' %}

{% block content %}
<div class="plugin-view">
    <h1>{% trans %}Für dieses Plugin existiert derzeit leider keine Beschreibung{% endtrans %}.</h1>
</div>
{% endblock %}
