{% extends 'MetadorThemeBundle:Theme:template.html.twig' %}

{% block center %}
    <div class="center">
        <div class="center-right">
            <div class="content">
                <h2 class="title">{% trans %}Fehler{% endtrans %}</h2>
                {% if p['_error'] is defined and p['_error'] is iterable %}
                    <table class="table bordered margin-b">
                        <thead>
                        <tr>
                            <th>{% trans %}ID{% endtrans %}</th>
                            <th>{% trans %}Meldung{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for error in p['_error'] %}
                            <tr>
                                <td class="test-normal">{{ error.key }}</td>
                                <td class="test-normal">{{ error.message }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/metadortheme/css/import-test.css') }}">
{% endblock %}
