<style type="text/css">
    table {width: 100%; border: 1px solid silver;}
    .label {font-weight: bold;}
</style>

<h1>Metadaten</h1>
<table>
    <tr>
        <td class="label">Identifikator des Metadatensatzes:</td>
        <td>{{ p['fileIdentifier'] }}</td>
    </tr>
    <tr>
        <td class="label">Sprache der Metadaten:</td>
        <td>{{ p['metadataLanguage'] }}</td>
    </tr>
</table>