@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-dff9cb');
	src:url('fonts/icomoon.eot?#iefix-dff9cb') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-dff9cb') format('truetype'),
		url('fonts/icomoon.woff?-dff9cb') format('woff'),
		url('fonts/icomoon.svg?-dff9cb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-wheregroup:before {
	content: "\e600";
}
.icon-circle:before {
	content: "\f111";
}
.icon-pencil:before {
	content: "\e905";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-stack:before {
	content: "\e92e";
}
.icon-clock:before {
	content: "\e94e";
}
.icon-calendar:before {
	content: "\e953";
}
.icon-download:before {
	content: "\e960";
}
.icon-upload:before {
	content: "\e961";
}
.icon-floppy-disk:before {
	content: "\e962";
}
.icon-database:before {
	content: "\e964";
}
.icon-redo2:before {
	content: "\e968";
}
.icon-user:before {
	content: "\e971";
}
.icon-users:before {
	content: "\e972";
}
.icon-hour-glass:before {
	content: "\e979";
}
.icon-maximize:before {
	content: "\e98b";
}
.icon-minimize:before {
	content: "\e98c";
}
.icon-key:before {
	content: "\e98d";
}
.icon-cog:before {
	content: "\e994";
}
.icon-magic-wand:before {
	content: "\e997";
}
.icon-meter:before {
	content: "\e9a6";
}
.icon-bin2:before {
	content: "\e9ad";
}
.icon-accessibility:before {
	content: "\e9b2";
}
.icon-power:before {
	content: "\e9b5";
}
.icon-switch:before {
	content: "\e9b6";
}
.icon-earth:before {
	content: "\e9ca";
}
.icon-flag:before {
	content: "\e9cc";
}
.icon-eye:before {
	content: "\e9ce";
}
.icon-notification:before {
	content: "\ea08";
}
.icon-question:before {
	content: "\ea09";
}
.icon-plus:before {
	content: "\ea0a";
}
.icon-info:before {
	content: "\ea0c";
}
.icon-checkmark:before {
	content: "\ea10";
}
.icon-checkmark2:before {
	content: "\ea11";
}
.icon-arrow-left:before {
	content: "\ea38";
}
.icon-terminal:before {
	content: "\ea81";
}
.icon-share2:before {
	content: "\ea82";
}
.icon-github4:before {
	content: "\eab4";
}
