@import '../config';
@import '../mixins';
@import '../extensions';

.btn {
    background-color: transparent;
    border: 1px solid $border;
    border-radius: 2px;
    margin: 0;
    padding: 0 $padding;
    color: $font;
    cursor: pointer;
    outline: none;

    &.full {
        width: 100%;
    }

    &:hover {
        border-color: darken($background, 8%);
        background-color: darken($background, 3%);
    }

    &.info {
        border-color: darken($info-bg, 6%);
        background-color: $info-bg;

        &:hover {
            border-color: darken($info-bg, 11%);
            background-color: darken($info-bg, 5%);
        }
    }

    &.success {
        border-color: darken($success-bg, 6%);
        background-color: $success-bg;

        &:hover {
            border-color: darken($success-bg, 11%);
            background-color: darken($success-bg, 5%);
        }
    }

    &.warning {
        border-color: darken($warning-bg, 6%);
        background-color: $warning-bg;

        &:hover {
            border-color: darken($warning-bg, 11%);
            background-color: darken($warning-bg, 5%);
        }
    }

    &.error {
        border-color: darken($error-bg, 4%);
        background-color: $error-bg;

        &:hover {
            border-color: darken($error-bg, 8%);
            background-color: darken($error-bg, 4%);
        }
    }

    @extend .normal-text-item;

    &.small {
        @extend .small-text-item;
    }

    &.medium {
        @extend .medium-text-item;
    }

    &.large {
        @extend .large-text-item;
    }
}
