@import '../config';
@import '../mixins';
@import '../extensions';

.btn {
    border-radius: 2px;
    margin: 0;
    padding: 0 $padding;
    color: $font;
    cursor: pointer;
    outline: none;

    &.full {
        width: 100%;
    }

    @extend .dark-normal;

    &.info {
        @extend .dark-info;
    }

    &.success {
        @extend .dark-success;
    }

    &.warning {
        @extend .dark-warning
    }

    &.error {
        @extend .dark-error;
    }

    @include normal-item();

    &.small {
        @include small-item();
    }

    &.medium {
        @include medium-item();
    }

    &.large {
        @include large-item();
    }
}
