@import '../config';
@import '../mixins';
@import '../extensions';

.md .btn {
    display: inline-block;
    border-radius: 2px;
    margin: 0;
    padding: 0 $padding;
    color: $font;
    cursor: pointer;
    outline: none;
    text-decoration: none;

    &.full {
        width: 100%;
        text-align: center;
    }

    @extend .dark-normal;

    &.info {
        @extend .dark-info;
    }

    &.success {
        @extend .dark-success;
    }

    &.warning {
        @extend .dark-warning
    }

    &.error {
        @extend .dark-error;
    }

    @include normal-item();

    &.small {
        @include small-item();
    }

    &.medium {
        @include medium-item();
    }

    &.large {
        @include large-item();
    }
}

.md .spinn,
.md span[class^="icon-spinner"] {
    display: inline-block;
    line-height: 1;
    animation: anim-rotate 2s infinite linear;
}

@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

