@import '../config';
@import '../mixins';
@import '../extensions';


$icon-color: darken($border, 20%);

.input-wrapper {
    position: relative;
    display: block;
    border: 1px solid $border;

    &.error {
        border-color: lighten($error, 20%);
        background-color: $error-bg;
    }

    border-radius: 2px;
    @extend .clearfix;

    & > span[class^="icon-"] {
        font-size: 1.1em;
        color: $icon-color;
        text-align: center;
        display: block;
        width: $normal-item-height;

        &.left {
            float: left;
        }

        &.right {
            float: right;
        }

        &:last-child,
        &:not(:first-child):not(:last-child) {
            border-left: 1px solid $border;
        }

        &:not(:first-child) {
            cursor: pointer;
            background-color: $background;
        }

        &.success {
            color: $success;
            background-color: $success-bg;
        }

        &.error {
            color: $error;
            background-color: $error-bg;
        }

        &:hover:not(:first-child) {
            color: darken($icon-color, 10%);
            background-color: darken($background, 5%);
        }

        &.icon-optional {
            color: lighten($success, 10%);
            background-color: transparent;
            border: 0;
        }

        &.icon-conditional {
            color: lighten($warning, 10%);
            background-color: transparent;
            border: 0;
        }

        &.icon-mandatory {
            color: lighten($error, 20%);
            background-color: transparent;
            border: 0;
        }

        &.icon-exclamation {
            color: lighten($error, 0%);
            background-color: transparent;
            border: 0;
        }

        @extend .normal-item;
    }
}

.input-wrapper {
    & > .input {
        border: 0;
        outline: none;
        color: $font;
        padding: 0 10px 0 0;
        background-color: transparent;
        @extend .normal-text-item;
        width: 100%;

        &.i-1 {
            @include calc('width', '100% - #{$normal-item-height}');
        }

        &.i-2 {
            @include calc('width', '100% - #{$normal-item-height * 2}');
        }

        &.i-3 {
            @include calc('width', '100% - #{$normal-item-height * 3}');
        }
    }



    &.small > .input {
        @extend .small-text-item;
    }

    &.medium > .input {
        @extend .medium-text-item;
    }

    &.large > .input {
        @extend .large-text-item;
    }
}

.input-wrapper > .textarea {
    border: 0;
    outline: none;
    color: $font;
    padding: 10px 10px 10px 0;
    resize: vertical;
    @include calc('width', '100% - #{$normal-item-height * 2}');
}

.input-wrapper-label {
    color: $primary;
    @extend .normal-item;
}
