@import '../config';
@import '../mixins';
@import '../extensions';

$icon-color: darken($border, 20%);

.md .form-wrapper {
    position: relative;
    display: block;
    @extend .clearfix;

    & > .check {
        height: 100%;
        border: 0;
        background-color: transparent;
        outline: none;
        color: $font;
        display: block;
        float: left;

        @include normal-item(true, false);
    }

    & > .form-label {
        @include normal-item(true, false);
    }

    &.small {
        @include small-item(false, false);

        & > .check {
            @include small-item(true, false);
        }

        & > .form-label {
            @include small-item(true, false);
        }
    }

    &.medium {
        @include medium-item(false, false);

        & > .check {
            @include medium-item(true, false);
        }

        & > .form-label {
            @include medium-item(true, false);
        }
    }

    &.large {
        @include large-item(false, false);

        & > .check {
            @include large-item(true, false);
        }

        & > .form-label {
            @include large-item(true, false);
        }
    }
}

.md .form-field-wrapper {
    &.small {
        & > .input, & > .select {
            @include small-item(true ,false);
        }
    }

    &.medium {
        & > .input, & > .select {
            @include medium-item(true ,false);
        }
    }

    &.large {
        & > .input, & > .select {
            @include large-item(true ,false);
        }
    }
}

.md .form-field-wrapper {
    position: relative;
    border: 1px solid $border;
    border-radius: 2px;
    background-color: lighten($background, 1%);
    display: block;
    @extend .clearfix;

    &.readonly {
        opacity: 0.5;
        background-color: darken($background, 2%);
        color: black;
    }

    &.row-space {
        margin-bottom: $padding;
    }

    &.inline {
        display: inline-block;
    }

    & > .input, & > .select:not([multiple]), & > .textarea, & > .advanced-select {
        width: 100%;
        height: 100%;
        border: 0;
        background-color: transparent;
        outline: none;
        color: $font;
        display: block;
        float: left;

        &:hover {
            background-color: darken($background, 1%);
        }

        &:focus {
            background-color: darken($background, 1%);
        }

        @include normal-item();
    }

    & > .select[multiple] {
        width: 100%;
        height: 100%;
        border: 0;
        background-color: transparent;
        outline: none;
        color: $font;
        display: block;
        float: left;

        &:hover {
            background-color: darken($background, 1%);
        }

        &:focus {
            background-color: darken($background, 1%);
        }
    }


    &.i1 {
        & > .input, & > .select, & > .textarea, & > .advanced-select {
            @include calc('width', '100% - #{$normal-item-height}');
        }
    }

    &.i2 {
        & > .input, & > .select, & > .textarea, & > .advanced-select {
            @include calc('width', '100% - #{$normal-item-height * 2}');
        }
    }

    &.i3 {
        & > .input, & > .select, & > .textarea, & > .advanced-select {
            @include calc('width', '100% - #{$normal-item-height * 3}');
        }
    }

    &.i4 {
        & > .input, & > .select, & > .textarea, & > .advanced-select {
            @include calc('width', '100% - #{$normal-item-height * 4}');
        }
    }

    &.i5 {
        & > .input, & > .select, & > .textarea, & > .advanced-select {
            @include calc('width', '100% - #{$normal-item-height * 5}');
        }
    }

    &.i6 {
        & > .input, & > .select, & > .textarea, & > .advanced-select {
            @include calc('width', '100% - #{$normal-item-height * 6}');
        }
    }

    & > .select:not([multiple]), & > .advanced-select:not([multiple]) {
        padding-right: 40px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%);
        background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px);
        background-size:
            5px 5px,
            5px 5px;
        background-repeat: no-repeat;

        &::-ms-expand {
            display: none;
        }

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
    }

    & > .textarea {
        line-height: normal;
        padding: $padding/2 $padding;
        resize: vertical;
        min-height: 70px;
    }

    &.error {
        @extend .light-error;

        & > .input, & > .select, & > .textarea, & > .advanced-select {
            &:hover {
                background-color: lighten($error, 35%);
            }

            &:focus {
                background-color: lighten($error, 35%);
            }

            &::-webkit-input-placeholder {
                color: lighten($error, 25%);
            }

            &::-moz-placeholder {
                color: lighten($error, 25%);
            }

            &:-ms-input-placeholder {
                color: lighten($error, 25%);
            }

            &:-moz-placeholder {
                color: lighten($error, 25%);
            }
        }

        & > .select {
            background-image:
                linear-gradient(45deg, transparent 50%, lighten($error, 10%) 50%),
                linear-gradient(135deg, lighten($error, 10%) 50%, transparent 50%);
            background-position:
                calc(100% - 20px) calc(1em + 2px),
                calc(100% - 15px) calc(1em + 2px);
            background-size:
                5px 5px,
                5px 5px;
            background-repeat: no-repeat;
        }

        & .form-icon,
        & .form-icon-type {
            color: $error;

            &.rs {
                box-shadow: 9px 1px 0px -8px lighten($error, 30%);
            }

            &.ls {
                box-shadow: -9px 1px 0px -8px lighten($error, 30%);
            }
        }

        & .form-icon:hover {
            color: darken($error, 2%);
            background-color: lighten($error, 35%);
        }
    }
}

.md .form-field-wrapper .form-icon,
.md .form-field-wrapper .form-icon-type {
    font-size: 1.1em;
    color: $icon-color;
    text-align: center;
    display: block;
    width: $normal-item-height;
    background-color: transparent;

    &.success {
        @extend .light-success;
    }

    &.rs {
        box-shadow: 9px 1px 0px -8px lighten($border, 8%);
    }

    &.ls {
        box-shadow: -9px 1px 0px -8px lighten($border, 8%);
    }

    @include normal-item(false, false);
}

.md .form-field-wrapper .form-icon-type {
    float: left;

    &.icon-optional {
        color: lighten($success, 20%);
        background-color: transparent;
    }

    &.icon-conditional {
        color: lighten($warning, 20%);
        background-color: transparent;
    }

    &.icon-mandatory {
        color: lighten($error, 20%);
        background-color: transparent;
    }

    &.icon-exclamation {
        color: $error;
        background-color: transparent;
    }
}

.md .form-field-wrapper .form-icon {
    cursor: pointer;
    float: right;

    &:hover {
        color: darken($icon-color, 10%);
        background-color: darken($background, 2%);
    }
}

.md .form-label {
    //color: $primary;
    @include normal-item(false, false);
}

.md .advanced-select {
    position: relative;
    cursor: pointer;

    & .advanced-select-options {
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        top: $normal-item-height;
        background-color: lighten($background, 1%);
        border: 1px solid $border;
        z-index: 2;
    }

    &:hover .advanced-select-options {
        display: block;
    }

    .advanced-select-option {
        @include normal-item();

        &.act {
            border-left: 4px solid $primary;
            background-color: lighten($background, 5%);
        }

        &:hover {
            background-color: darken($background, 1%);
        }

        &:focus {
            background-color: darken($background, 1%);
        }

        &.error {
            border-left: 4px solid $error;
        }

    }
}

.md .form-field-wrapper > .select.helper-select {
    background-color: lighten($info, 30%);

    &:hover {
        background-color: lighten($info, 25%);
    }
}
