@import '../config';
@import '../mixins';
@import '../extensions';

@mixin set-notify-close-color($color, $lighten: 0%) {
    $color: lighten($color, $lighten);

    & > .close {
        color: $color;

        &:hover {
            color: darken($color, 10%);
        }
    }
}

.md .notify {
    border: 1px solid $border;
    padding: $padding + $padding / 2;
    margin: $padding 0;
    border-radius: 2px;
    position: relative;

    @extend .light-normal;
    @include set-notify-close-color($border);

    & > .close {
        cursor: pointer;
        @include pos($padding / 2, $padding / 2, '', '');
    }

    &.info {
        @extend .light-info;
        @include set-notify-close-color($info, 5%);
    }

    &.success {
        @extend .light-success;
        @include set-notify-close-color($success);
    }

    &.warning {
        @extend .light-warning;
        @include set-notify-close-color($warning);
    }

    &.error {
        @extend .light-error;
        @include set-notify-close-color($error, 10%);
    }
}

.md .info-box {
    $info-box-color: lighten($info, 33%);
    position: relative;
    min-height: 60px;
    @extend .clearfix;

    .info-box-content {
        display: none;
        padding: $padding;
        margin: $padding 0;
        border-width: 1px 10px;
        border-style: solid;
        border-radius: 2px;
        color: $font;
        font-weight: bold;
        background-color: $info-box-color;
        border-color: darken($info-box-color, 5%);

        &.active {
            display: block;
        }

        &:hover {
            background-color: darken($info-box-color, 1%);
            border-color: darken($info-box-color, 7%);
        }
    }

    .info-box-button {
        cursor: pointer;
        color: darken($info-box-color, 10%);
        font-size: 2em;
        float: left;
        background-color: $white;
        border-radius: 50%;
        padding: 3px 5px;
        height: 40px;
        width: 40px;

        @include pos(0, -15px, '', '');

        &:hover {
            color: darken($info-box-color, 15%);
        }
    }

}
