{% set successMsg = app.session.flashbag.get('success') %}
{% set errorMsg = app.session.flashbag.get('error') %}

{% if successMsg %}
    <div class="notify success">
    {% for message in successMsg %}
        {{ message }}<br/>
    {% endfor %}
    </div>
{% endif %}

{% if errorMsg %}
    <div class="notify error">
    {% for message in errorMsg %}
        {{ message }}<br/>
    {% endfor %}
    </div>
{% endif %}
