{% set conf = getParameter('metador') %}
{% extends conf['templates']['main'] %}

{% block center %}
    <div class="left">
        <div class="pageMenu">
            {% block pageMenu %}
            {% endblock %}
        </div>
        {% block contentLeft %}
        {% endblock %}
    </div>
    <div class="right">
        {% include 'WhereGroupMetadorBundle:Design:flashMessages.html.twig' %}
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}