{% extends 'WhereGroupMetadorBundle:Design:main.html.twig' %}

{% block center %}
    <div class="content">
        {% include 'WhereGroupMetadorBundle:Design:flashMessages.html.twig' %}
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}