$fontColor: #333;

// http://www.colourlovers.com/palette/100694/Machu_Picchu
$ivy: #607848;
$mossociety: #789048;
$agrioby: #C0D860;
$aglet: #F0F0D8;
$purple: #604848;
$dark: #34323D;

// COLORS
$primary: $purple;
$primary-contrast: $aglet;
$secondary: $mossociety;
$secondary-contrast: #FFF;

$logo: '';
// $logo: '../img/logo.png';
$background: '../img/background.jpg';
