{% set cn = controller_name() %}
{% set ca = controller_action() %}

<label>Benutzer</label>
<ul>
    <li {% if cn == 'user' and ca == 'index' %}class="act" {% endif %}>
        <a href="{{ path('user') }}">Anzeigen</a>
    </li>
    <li {% if cn == 'user' and ca == 'new' %}class="act" {% endif %}>
        <a href="{{ path('user_new') }}">Neu</a>
    </li>
</ul>


<label>Gruppen</label>
<ul>
    <li {% if cn == 'group' and ca == 'index' %}class="act" {% endif %}>
        <a href="{{ path('group') }}">Anzeigen</a>
    </li>
</ul>

