{% extends 'MetadorManualBundle::template.html.twig' %}

{% block content %}
    <div class="text-right"><a href="{{ path('manual_index') }}" class="btn">zurück</a></div>
{% endblock %}

{% block manual %}
# Allgemein

Es erscheint die Startseite von Metador, auf welcher die aktuell öffentlichen Metadaten gelistet werden,
in der eine Suchmaske eingeblendet ist und an der man sich mit dem Benutzernamen und Passwort anmelden kann.
{% endblock %}
