@import '../styleguide/config';
@import '../styleguide/mixins';

.notify {
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    min-height: 40px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 10px;

    border-radius: 5px;

    &.error {
        border-color: $error darken($error, 10%) darken($error, 20%);
        background-color: $error;
    }

    &.warning {
        border-color: $warning darken($warning, 10%) darken($warning, 20%);
        background-color: $warning;
    }

    &.success {
        border-color: $success darken($success, 10%) darken($success, 20%);
        background-color: $success;
    }


    &.notice {
        border-color: $notice darken($notice, 10%) darken($notice, 20%);
        background-color: $notice;
    }
}
