@import 'config';
@import 'mixins';

h1,
h2,
h3,
h4,
h5 {
    color: $primary;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent: 1px;
    text-overflow: '';

    &::-ms-expand {
        display: none;
    }

    option {
        padding: 0 10px;
    }
}

.logo {
    @include pos(10px, '', 0, 50%);
    margin-left: -($page-width / 2) + 20px;
}

.plugin-import {
    .plugin-label {
        font-weight: bold;
    }

    .plugin-row {
        display: block;
        margin: 10px;
    }
}
