@import '../styleguide/config';
@import '../styleguide/mixins';
@import '../styleguide/extensions';

$buttonWidth: 40px;
$widthForm: 725px;

$colBox: 701px;
$space: 20px;
$padding: 6px;

.metadataForm {
    & .btn, & .btn-group > * {
        width: $buttonWidth;
    }

    & input[type='text'], & input[type='password'],
    & select,
    & textarea  {
        @extend %input;

        &.keywordRepoValue {
            display: none;

            &.act {
                display: block;
            }
        }
    }

    & textarea {
        height: 100px;
    }

    & fieldset {
        border: 1px solid silver;
        padding: 10px 5px;
        border-radius: $radius;
    }

    & .metadataFormPages {
        & > div {
            height: 0;
            overflow: hidden;
            &.act {height: auto;}
        }

        & label, & legend {@extend %label;}
        .left, & .center {float:left;}
        .right {float:right;}
    }

    & h2 {
        display: block;
        font-size: 16px;
        font-weight: bold;
        color: #666;
        margin-bottom: 5px;
    }

    & h1 {
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: #555;
        margin-bottom: 5px;
        border-bottom: 1px solid #BBB;
    }
}

// INPUTS
$oneColWidth: ($colBox - $padding * 2);
$twoColWidth: ($colBox / 2) - ($space/2) - $padding;
$threeColWidth: ($colBox / 3) - ($space/2) - $padding;

.oneCol0, .twoCol0 {
    border-width: 1px;
    border-radius: $radius;
}

.oneCol1, .oneCol2, .oneCol3, .twoCol1, .twoCol2, .threeCol1 {
    border-width: 1px 0px 1px 1px;
    border-left-radius: $radius;
}

.oneCol0    {width: $oneColWidth;}
.oneCol1    {width: $oneColWidth - $buttonWidth;}
.oneCol2    {width: $oneColWidth - ($buttonWidth * 2);}
.oneCol3    {width: $oneColWidth - ($buttonWidth * 3);}
.twoCol0    {width: $twoColWidth;}
.twoCol1    {width: $twoColWidth - $buttonWidth;}
.twoCol2    {width: $twoColWidth - ($buttonWidth * 2);}
.threeCol1  {width: $threeColWidth - $buttonWidth;}

// ROW
.oneColBox, .twoColBox, .threeColBox {
    width: $colBox;
    padding: 5px;

    & .fr > * {float: right;}
}

.twoColBox {
    & > .left {
        width: ($colBox / 2);
    }
}

.threeColBox {
    & > .left, & > .center {
        width: ($colBox / 3) + ($padding/2);
    }
}

.threeCol {
    & > .left, & > .center {
        width: ($colBox / 3);
        float: left;
    }
}

.displayLeft {float:left;padding: 5px 0;}
.displayRight {float:right;}

.singleResult {
    clear: both;
    margin-top: 10px;
    padding: 5px;
    background-color: #EEE;
    border: 1px solid silver;
    min-height: 30px;

    border-radius: $radius;

    & > div {
        clear: both;

        & > label, & > table {
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 4px;
            margin-bottom: 5px;
        }

        & > label {
            float: left;
            padding: 5px;
            width: $oneColWidth - $buttonWidth - 20px;
        }

        & > table {
            float: left;
            width: 620px;

            & td {
                width: 25%;
                height: 30px;
            }
        }

        & > .btn {
            float: right;
        }
    }
}

.map {
    border: 1px solid silver;
    height: 290px;
    margin-right: 20px;
    border-radius: $radius;
}

.duplicatable .duplicatable {
    $correction: 50px;
    margin: 10px;

    .oneColBox, .twoColBox, .threeColBox {
        width: $colBox - $correction;
    }

    .twoColBox {
        & > .left {
            width: ($colBox / 2) - $correction;
        }
    }

    .threeColBox {
        & > .left, & > .center {
            width: ($colBox / 3) + ($padding/2) - $correction;
        }
    }

    .threeCol {
        & > .left, & > .center {
            width: ($colBox / 3) - $correction;
        }
    }

    & .oneCol0    {width: $oneColWidth - $correction;}
    & .oneCol1    {width: $oneColWidth - $buttonWidth - $correction;}
    & .oneCol2    {width: $oneColWidth - ($buttonWidth * 2) - $correction;}
    & .oneCol3    {width: $oneColWidth - ($buttonWidth * 3) - $correction;}
    & .twoCol0    {width: $twoColWidth - $correction;}
    & .twoCol1    {width: $twoColWidth - $buttonWidth - $correction;}
    & .twoCol2    {width: $twoColWidth - ($buttonWidth * 2) - $correction;}
    & .threeCol1  {width: $threeColWidth - $buttonWidth - $correction;}
}

.duplicatable {
    & > ul > li > .icon-maximize {
        display: none;
    }

    & > ul > li > .icon-minimize {
        display: block;
    }
}

.duplicatable.closed {

    & > ul > li > .icon-maximize {
        display: block;
    }

    & > ul > li > .icon-minimize {
        display: none;
    }

    & > .content {
        display: none;
    }

    height: 50px;
}

.duplicatable {
    border: 1px solid silver;
    margin-bottom: 10px;
    border-radius: $radius;

    ul {
        margin: 0;
        padding: 0;
        display: block;
        height: 30px;
        border-bottom: 1px solid silver;
        background-color: $bright;
        border-top-radius: $radius;

        & > li {
            cursor: pointer;
            display:block;
            float: left;
            padding: 5px 10px;
            height: 25px;
            width: 30px;
            margin: 4px 0 0 10px;
            background-color: white;
            font-size: 12px;
            border-width: 1px 1px 0 1px;
            border-color: silver;
            border-style: solid;
            background-color: darken($bright, 10%);
            border-top-radius: $radius;

            &.act, &.menu {
                background-image: url('../img/noise.png');
                height: 26px;
            }

            &.duplicate, &.menu {
                padding: 5px 6px;
            }

            &.menu {
                float: right;
                margin: 4px 10px 0 0;
            }

        }
    }

    .content {
        & > div {
            height: 0px;
            overflow: hidden;

            &.act {
                height: auto;
            }
        }
    }


}

.makeUUID {
    text-align:center;
    margin-top: 50px;
}

.browserGraphic {
    border: 1px solid silver;
    width: 105px;
    height: 105px;
    margin-top: 10px;
    padding: 2px;
    border-radius: $radius;

    img {
        width: 100px;
        height: 100px;
    }
}

.form {
    & > .left, & > .right {
        & label {
            @extend %label;
            margin-top: 10px;
        }

        & input[type='text'], & input[type='password'],
        & select,
        & textarea  {
            @extend %input;
        }
    }

    & > .left {
        float: left;
        width: $twoColWidth;
    }

    & > .right {
        float: right;
        width: $twoColWidth;

        & select {
            width: 100%;
            height: 220px;
        }
    }
}

.helptext {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: auto;
}

.hidden {
    display: none;
}

.wizard-content {
    & .wizard-content-value {
        border-bottom: 1px solid #cccccc;
        margin: 0;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: #efefef;
        }
    }
}

#metadataTable tbody tr {
    // cursor: pointer;

    &:hover {
        background-color: #EDF2FF;
    }
}

#metadataTable tbody tr.act {
    background-color: #DFE8FF;
}

.noStyle {
    border: 0;
    background-color: transparent;
    vertical-align: middle;
}


.bbox-label {
    width:100%;
    font-size: 10px;
    width:620px;
    margin-left: 5px;

    & td {
        width: 25%;
    }
}

.btn-group > div:hover .icon,
.btn:hover > .icon,
.menu:hover .icon,
.duplicate:hover > .icon {
    color: #333;
}

textarea.code {
    width: 100%;
    height: 100px;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
}
