@import 'config';
@import 'mixins';

.gdi-de {
    & > table {
        margin-bottom: 20px;
        width:100%;
        padding: 10px;

        & td, & th {
            padding: 5px;
        }

        .title th {
            text-align: left;
            color: #333;
        }

        .description {
            font-size: 12px;
            color: #666;
        }
    }
    .headline {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        text-shadow: rgba(0,0,0,0.3) 1px 1px 3px;
    }

    & h2 {
        color: green;
        text-shadow: rgba(0,0,0,0.2) 1px 1px 5px;
    }
}

.testsuite {
    text-align: center;

    & > a {
        color: #666;
        font-size: 12px;
        text-decoration: none;

        &:hover {
            color: #333;
        }
    }
}

.de-red {color: #dc0000;}
.de-yellow {color: #fece00}

.gdide-test-title {
    margin: 20px 0;
}

.gdide-test-name {
    margin: 10px 0px;
    padding: 5px;
    background-color: #eee;
    border-bottom: 2px solid silver;
}

.gdide-test-assertion {
    margin: 5px 20px;
    padding: 10px 20px;
    border-left: 4px solid orange;
}

.gdide-test-messages {
    margin: 5px 20px;
    padding: 10px 20px;
    border-left: 4px solid red;
}
