@import 'config';
@import 'mixins';

.metador-translation {
    padding: 20px;

    .locale-word {
        padding: 0 0 20px;
    }

    .locale-translation {
        float: left;
        height: 100px;
        overflow: auto;
        width: $page-width / 2;
    }

    .locale-add-existing {
        color: #ddd;
        font-size: 26px;
        width: 50px;
        text-align: center;
        float: left;

        & > .icon-arrow-left.act {
            color: green;
            cursor: pointer;
        }
    }

    .locale-existing {
        width: ($page-width / 2) - 150px;
        float: left;
        height: 100px;
        border-left: 1px solid #ddd;
        padding: 0 20px;
        overflow: auto;
    }
}

.locale-menu {
    & > .left {
        float: left;
    }

    & > .right {
        float: right;
    }
}
