@import '../styleguide/config';
@import '../styleguide/mixins';

.metadata-import-label {
    display: block;
    padding: 5px 0;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.metadata-import-input {
    float: left;
}

.metadata-import-submit {
    float: right;
}

.metadata-import-textarea {
    width: $page-width - 160px;
    height: 200px;
}

.metadata-import-link:hover {
    color: blue;
    text-decoration: none;
}
