@import '../styleguide/config';
@import '../styleguide/extensions';

.metadata-info-menu {
    height: 40px;
    padding: 10px;
    text-align: center;

    .metadata-info-roles,
    .metadata-info-public {
        cursor: pointer;
        font-size: 20px;
        text-shadow: darken($white, 10%) 1px 1px 0;
        vertical-align: middle;

        &:hover {
            color: darken($success, 30%);
        }
    }

    .metadata-info-public {
        float: left;
    }

    .metadata-info-public-title,
    .metadata-info-public-title-private {
        @extend %no-select;
        font-size: 14px;
        text-shadow: darken($white, 10%) 1px 1px 0;
        vertical-align: middle;
    }

    .metadata-info-public-title {
        display: none;
    }

    .metadata-info-roles {
        float: right;
    }
}

.metadata-info-roles-list {
    border-top: 1px solid lighten($success, 10%);
    box-shadow: 0 -1px 0 0 darken($white, 10%);
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
        @extend %no-select;
        color: darken($success, 30%);
        font-size: 12px;
        padding: 5px 10px;
        text-shadow: darken($white, 10%) 1px 1px 0;
    }
}

.metadata-info {
    background-color: lighten($success, 15%);
    border-bottom: 1px solid $secondary;
    color: darken($success, 10%);
    text-shadow: darken($white, 10%) 1px 1px 0;

    &.public {
        background-color: lighten($notice, 15%);
        color: darken($notice, 10%);
        text-shadow: darken($white, 10%) 1px 1px 0;

        .metadata-info-public {
            color: darken($notice, 30%);
        }

        .metadata-info-roles,
        .metadata-info-public {
            &:hover {
                color: darken($notice, 30%);
            }
        }

        .metadata-info-public-title {
            color: darken($notice, 30%);
            display: inline;
        }

        .metadata-info-public-title-private {
            display: none;
        }

        .metadata-info-roles-list {
            border-top: 1px solid lighten($notice, 10%);

            & > li {
                color: darken($notice, 30%);
            }
        }
    }

    &.groups {
        .metadata-info-roles-list {
            display: block;
        }

        .metadata-info-roles {
            color: darken($success, 30%);
        }

        &.public {
            .metadata-info-roles {
                color: darken($notice, 30%);
            }
        }
    }
}
