{% extends 'ProfileServiceBundle::template.html.twig' %}

{% block title %}MeTaDor - {% trans %}Dienste{% endtrans %}{% endblock %}

{% block menu %}
{% include 'MetadorThemeBundle:Profile:status.html.twig' %}
<ul class="page-menu-list profile-menu">
    <li data-tab="metadata" class="act">
        <span class="profile-menu-label">{% trans %}Metadatensatz{% endtrans %}</span>
    </li>
    <li data-tab="identification">
        <span class="profile-menu-label">{% trans %}Identifikation{% endtrans %}</span>
    </li>
    <li data-tab="classification">
        <span class="profile-menu-label">{% trans %}Klassifizierung{% endtrans %}</span>
    </li>
    <li data-tab="keyword">
        <span class="profile-menu-label">{% trans %}Schlüsselwort{% endtrans %}</span>
    </li>
    <li data-tab="geographic">
        <span class="profile-menu-label">{% trans %}Geografischer Standort{% endtrans %}</span>
    </li>
    <li data-tab="temporal">
        <span class="profile-menu-label">{% trans %}Zeitbezug{% endtrans %}</span>
    </li>
    <li data-tab="conformity">
        <span class="profile-menu-label">{% trans %}Übereinstimmung{% endtrans %}</span>
    </li>
    <li data-tab="constraints">
        <span class="profile-menu-label">{% trans %}Beschränkungen{% endtrans %}</span>
    </li>
    <li data-tab="responsibleparty">
        <span class="profile-menu-label">{% trans %}Zuständige Stelle{% endtrans %}</span>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="metadataFormPages">
    <div id="metadata" class="act">
        {% include 'ProfileServiceBundle:Profile:metadata.html.twig' %}
    </div>
    <div id="identification">
        {% include 'ProfileServiceBundle:Profile:identification.html.twig' %}
    </div>
    <div id="classification">
        {% include 'ProfileServiceBundle:Profile:classification.html.twig' %}
    </div>
    <div id="keyword">
        {% include 'ProfileServiceBundle:Profile:keyword.html.twig' %}
    </div>
    <div id="geographic">
        {% include 'ProfileServiceBundle:Profile:geographic.html.twig' %}
    </div>
    <div id="temporal">
        {% include 'ProfileServiceBundle:Profile:temporal.html.twig' %}
    </div>
    <div id="conformity">
        {% include 'ProfileServiceBundle:Profile:conformity.html.twig' %}
    </div>
    <div id="constraints">
        {% include 'ProfileServiceBundle:Profile:constraints.html.twig' %}
    </div>
    <div id="responsibleparty">
        {% include 'ProfileServiceBundle:Profile:responsibleparty.html.twig' %}
    </div>
</div>
{% endblock %}

{% block form_start %}
    <form action="{{ path(path, param) }}" method="post" name="metadataForm" class="metadataForm" autocomplete="off">
{% endblock %}

{% block form_end %}
    </form>
{% endblock %}
