.light-normal {
  color: #444;
  background-color: #f7f7f7;
  border: 1px solid #e1e1e1; }

.light-normal:hover {
  background-color: #f4f4f4;
  border: 1px solid #dedede; }

.light-info {
  color: #444;
  background-color: #e5f3ff;
  border: 1px solid #b2dbff; }

.light-info:hover {
  background-color: #e0f1ff;
  border: 1px solid #add9ff; }

.light-warning {
  background-color: #fdf4df;
  border: 1px solid #fae4af; }

.light-warning:hover {
  background-color: #fdf3da;
  border: 1px solid #fae3aa; }

.light-success {
  color: #444;
  background-color: #d9f0d3;
  border: 1px solid #b8e4ad; }

.light-success:hover {
  background-color: #d6efcf;
  border: 1px solid #b5e2a9; }

.light-error {
  color: #444;
  background-color: #fbece8;
  border: 1px solid #f5c8bb; }

.light-error:hover {
  background-color: #fbe8e3;
  border: 1px solid #f4c4b7; }

.dark-info > a, .dark-success > a, .dark-warning > a, .dark-error > a {
  color: #fff; }

.dark-normal {
  color: #444;
  background-color: #f7f7f7;
  border: 1px solid #e1e1e1; }

.dark-normal:hover {
  background-color: #eaeaea;
  border: 1px solid #d4d4d4; }

.dark-info {
  color: #fff;
  background-color: #4dacfe;
  border: 1px solid #1a94fe; }

.dark-info:hover {
  background-color: #1a94fe;
  border: 1px solid #0188fd; }

.dark-success {
  color: #fff;
  background-color: #77ca60;
  border: 1px solid #59b93e; }

.dark-success:hover {
  background-color: #59b93e;
  border: 1px solid #4fa637; }

.dark-warning {
  color: #fff;
  background-color: #f5c44e;
  border: 1px solid #f2b41e; }

.dark-warning:hover {
  background-color: #f2b41e;
  border: 1px solid #e9a90d; }

.dark-error {
  color: #fff;
  background-color: #e15b36;
  border: 1px solid #c6421e; }

.dark-error:hover {
  background-color: #c6421e;
  border: 1px solid #b03b1a; }

.md .no-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.md .text-center {
  text-align: center; }

* {
  box-sizing: border-box; }

a {
  color: #5e5e5e;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #444;
  font-family: Arial, Helvetica, Verdana,  sans-serif;
  font-size: 1em;
  background-color: #f7f7f7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.no-m {
  margin: 0; }

.no-p {
  padding: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.03); }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.05); }

.reset {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent; }

.hidden {
  display: none; }

.hidden.active {
  display: block; }

.test-success {
  color: #77ca60;
  font-size: 12px; }

.test-error {
  color: #e15b36;
  font-size: 12px; }

.test-info {
  color: #4dacfe;
  font-size: 12px; }

.test-normal {
  color: #444;
  font-size: 13px; }

.xml-code {
  font-size: 12px; }
