.light-normal, .notify {
  color: #444;
  background-color: #f7f8fa;
  border: 1px solid #d8d8d8; }

.light-normal:hover, .notify:hover {
  background-color: #f4f5f8;
  border: 1px solid #d5d5d5; }

.light-info, .notify.info {
  color: #444;
  background-color: #e5f3ff;
  border: 1px solid #b2dbff; }

.light-info:hover, .notify.info:hover {
  background-color: #e0f1ff;
  border: 1px solid #add9ff; }

.light-warning, .notify.warning {
  background-color: #fdf4df;
  border: 1px solid #fae4af; }

.light-warning:hover, .notify.warning:hover {
  background-color: #fdf3da;
  border: 1px solid #fae3aa; }

.light-success, .md .form-field-wrapper .form-icon.success, .md .form-field-wrapper .form-icon-type.success, .notify.success {
  color: #444;
  background-color: #d9f0d3;
  border: 1px solid #b8e4ad; }

.light-success:hover, .md .form-field-wrapper .form-icon.success:hover, .md .form-field-wrapper .form-icon-type.success:hover, .notify.success:hover {
  background-color: #d6efcf;
  border: 1px solid #b5e2a9; }

.light-error, .md .form-field-wrapper.error, .notify.error {
  color: #444;
  background-color: #fbece8;
  border: 1px solid #f5c8bb; }

.light-error:hover, .md .form-field-wrapper.error:hover, .notify.error:hover {
  background-color: #fbe8e3;
  border: 1px solid #f4c4b7; }

.dark-normal, .md .btn {
  color: #444;
  background-color: #f7f8fa;
  border: 1px solid #d8d8d8; }

.dark-normal:hover, .md .btn:hover {
  background-color: #e7eaf0;
  border: 1px solid #cbcbcb; }

.dark-info, .md .btn.info {
  color: #fff;
  background-color: #4dacfe;
  border: 1px solid #1a94fe; }

.dark-info:hover, .md .btn.info:hover {
  background-color: #1a94fe;
  border: 1px solid #0188fd; }

.dark-success, .md .btn.success {
  color: #fff;
  background-color: #77ca60;
  border: 1px solid #59b93e; }

.dark-success:hover, .md .btn.success:hover {
  background-color: #59b93e;
  border: 1px solid #4fa637; }

.dark-warning, .md .btn.warning {
  color: #fff;
  background-color: #f5c44e;
  border: 1px solid #f2b41e; }

.dark-warning:hover, .md .btn.warning:hover {
  background-color: #f2b41e;
  border: 1px solid #e9a90d; }

.dark-error, .md .btn.error {
  color: #fff;
  background-color: #e15b36;
  border: 1px solid #c6421e; }

.dark-error:hover, .md .btn.error:hover {
  background-color: #c6421e;
  border: 1px solid #b03b1a; }

* {
  box-sizing: border-box; }

.clearfix:before, .md .grid .row:before, .md .form-wrapper:before, .md .form-field-wrapper:before, .md > .top:before, .clearfix:after, .md .grid .row:after, .md .form-wrapper:after, .md .form-field-wrapper:after, .md > .top:after {
  content: " ";
  display: table; }

.clearfix:after, .md .grid .row:after, .md .form-wrapper:after, .md .form-field-wrapper:after, .md > .top:after {
  clear: both; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.03); }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.05); }

.md .grid .row {
  display: block; }

.md .grid .row .c-1 {
  width: 100%; }

.md .grid .row .c-1.text-right {
  text-align: right; }

.md .grid .row .c-1.text-center {
  text-align: center; }

.md .grid.space .row.r-2 .c-1 {
  width: -webkit-calc(100% - 10px);
  width: -moz-calc(100% - 10px);
  width: calc(100% - 10px); }

.md .grid.space .row.r-3 .c-1 {
  width: -webkit-calc(100% - 13.33333px);
  width: -moz-calc(100% - 13.33333px);
  width: calc(100% - 13.33333px); }

.md .grid.space .row.r-4 .c-1 {
  width: -webkit-calc(100% - 15px);
  width: -moz-calc(100% - 15px);
  width: calc(100% - 15px); }

.md .grid.space .row.r-8 .c-1 {
  width: -webkit-calc(100% - 17.5px);
  width: -moz-calc(100% - 17.5px);
  width: calc(100% - 17.5px); }

@media screen and (max-width: 950px) {
  .md .grid.responsive .c-1 {
    width: 100% !important; } }

.md .grid .row .c-1-2 {
  width: 50%; }

.md .grid .row .c-1-2.text-right {
  text-align: right; }

.md .grid .row .c-1-2.text-center {
  text-align: center; }

.md .grid.space .row.r-2 .c-1-2 {
  width: -webkit-calc(50% - 10px);
  width: -moz-calc(50% - 10px);
  width: calc(50% - 10px); }

.md .grid.space .row.r-3 .c-1-2 {
  width: -webkit-calc(50% - 13.33333px);
  width: -moz-calc(50% - 13.33333px);
  width: calc(50% - 13.33333px); }

.md .grid.space .row.r-4 .c-1-2 {
  width: -webkit-calc(50% - 15px);
  width: -moz-calc(50% - 15px);
  width: calc(50% - 15px); }

.md .grid.space .row.r-8 .c-1-2 {
  width: -webkit-calc(50% - 17.5px);
  width: -moz-calc(50% - 17.5px);
  width: calc(50% - 17.5px); }

@media screen and (max-width: 950px) {
  .md .grid.responsive .c-1-2 {
    width: 100% !important; } }

.md .grid .row .c-1-3 {
  width: 33.333%; }

.md .grid .row .c-1-3.text-right {
  text-align: right; }

.md .grid .row .c-1-3.text-center {
  text-align: center; }

.md .grid.space .row.r-2 .c-1-3 {
  width: -webkit-calc(33.333% - 10px);
  width: -moz-calc(33.333% - 10px);
  width: calc(33.333% - 10px); }

.md .grid.space .row.r-3 .c-1-3 {
  width: -webkit-calc(33.333% - 13.33333px);
  width: -moz-calc(33.333% - 13.33333px);
  width: calc(33.333% - 13.33333px); }

.md .grid.space .row.r-4 .c-1-3 {
  width: -webkit-calc(33.333% - 15px);
  width: -moz-calc(33.333% - 15px);
  width: calc(33.333% - 15px); }

.md .grid.space .row.r-8 .c-1-3 {
  width: -webkit-calc(33.333% - 17.5px);
  width: -moz-calc(33.333% - 17.5px);
  width: calc(33.333% - 17.5px); }

@media screen and (max-width: 950px) {
  .md .grid.responsive .c-1-3 {
    width: 100% !important; } }

.md .grid .row .c-2-3 {
  width: 66.666%; }

.md .grid .row .c-2-3.text-right {
  text-align: right; }

.md .grid .row .c-2-3.text-center {
  text-align: center; }

.md .grid.space .row.r-2 .c-2-3 {
  width: -webkit-calc(66.666% - 10px);
  width: -moz-calc(66.666% - 10px);
  width: calc(66.666% - 10px); }

.md .grid.space .row.r-3 .c-2-3 {
  width: -webkit-calc(66.666% - 13.33333px);
  width: -moz-calc(66.666% - 13.33333px);
  width: calc(66.666% - 13.33333px); }

.md .grid.space .row.r-4 .c-2-3 {
  width: -webkit-calc(66.666% - 15px);
  width: -moz-calc(66.666% - 15px);
  width: calc(66.666% - 15px); }

.md .grid.space .row.r-8 .c-2-3 {
  width: -webkit-calc(66.666% - 17.5px);
  width: -moz-calc(66.666% - 17.5px);
  width: calc(66.666% - 17.5px); }

@media screen and (max-width: 950px) {
  .md .grid.responsive .c-2-3 {
    width: 100% !important; } }

.md .grid .row .c-1-4 {
  width: 25%; }

.md .grid .row .c-1-4.text-right {
  text-align: right; }

.md .grid .row .c-1-4.text-center {
  text-align: center; }

.md .grid.space .row.r-2 .c-1-4 {
  width: -webkit-calc(25% - 10px);
  width: -moz-calc(25% - 10px);
  width: calc(25% - 10px); }

.md .grid.space .row.r-3 .c-1-4 {
  width: -webkit-calc(25% - 13.33333px);
  width: -moz-calc(25% - 13.33333px);
  width: calc(25% - 13.33333px); }

.md .grid.space .row.r-4 .c-1-4 {
  width: -webkit-calc(25% - 15px);
  width: -moz-calc(25% - 15px);
  width: calc(25% - 15px); }

.md .grid.space .row.r-8 .c-1-4 {
  width: -webkit-calc(25% - 17.5px);
  width: -moz-calc(25% - 17.5px);
  width: calc(25% - 17.5px); }

@media screen and (max-width: 950px) {
  .md .grid.responsive .c-1-4 {
    width: 100% !important; } }

.md .grid .row .c-3-4 {
  width: 75%; }

.md .grid .row .c-3-4.text-right {
  text-align: right; }

.md .grid .row .c-3-4.text-center {
  text-align: center; }

.md .grid.space .row.r-2 .c-3-4 {
  width: -webkit-calc(75% - 10px);
  width: -moz-calc(75% - 10px);
  width: calc(75% - 10px); }

.md .grid.space .row.r-3 .c-3-4 {
  width: -webkit-calc(75% - 13.33333px);
  width: -moz-calc(75% - 13.33333px);
  width: calc(75% - 13.33333px); }

.md .grid.space .row.r-4 .c-3-4 {
  width: -webkit-calc(75% - 15px);
  width: -moz-calc(75% - 15px);
  width: calc(75% - 15px); }

.md .grid.space .row.r-8 .c-3-4 {
  width: -webkit-calc(75% - 17.5px);
  width: -moz-calc(75% - 17.5px);
  width: calc(75% - 17.5px); }

@media screen and (max-width: 950px) {
  .md .grid.responsive .c-3-4 {
    width: 100% !important; } }

.md .grid .row .c-1-8 {
  width: 12.5%; }

.md .grid .row .c-1-8.text-right {
  text-align: right; }

.md .grid .row .c-1-8.text-center {
  text-align: center; }

.md .grid.space .row.r-2 .c-1-8 {
  width: -webkit-calc(12.5% - 10px);
  width: -moz-calc(12.5% - 10px);
  width: calc(12.5% - 10px); }

.md .grid.space .row.r-3 .c-1-8 {
  width: -webkit-calc(12.5% - 13.33333px);
  width: -moz-calc(12.5% - 13.33333px);
  width: calc(12.5% - 13.33333px); }

.md .grid.space .row.r-4 .c-1-8 {
  width: -webkit-calc(12.5% - 15px);
  width: -moz-calc(12.5% - 15px);
  width: calc(12.5% - 15px); }

.md .grid.space .row.r-8 .c-1-8 {
  width: -webkit-calc(12.5% - 17.5px);
  width: -moz-calc(12.5% - 17.5px);
  width: calc(12.5% - 17.5px); }

@media screen and (max-width: 950px) {
  .md .grid.responsive .c-1-8 {
    width: 100% !important; } }

.md .grid .row > .col {
  float: left; }

.md .grid .row > .col:last-child {
  float: right; }

.md .grid.space .row:not(:last-child) {
  margin-bottom: 20px; }

.md .grid.space .row > .col:not(:first-child):not(:last-child) {
  margin: 0 10px; }

.md .grid.space .row > .col:first-child {
  margin: 0 10px 0 0; }

.md .grid.space .row > .col:last-child {
  margin: 0 0 0 10px; }

@media screen and (max-width: 950px) {
  .md .grid.space.responsive .row > .col:not(:first-child):not(:last-child) {
    margin: 0; }
  .md .grid.space.responsive .row > .col:first-child {
    margin: 0; }
  .md .grid.space.responsive .row > .col:last-child {
    margin: 0; } }

.md .grid.base-style .row > .col {
  background-color: #f7f8fa;
  border: 1px solid #d8d8d8;
  border-radius: 2px; }

.md .grid.padding .row > .col {
  padding: 10px; }

.light-normal, .notify {
  color: #444;
  background-color: #f7f8fa;
  border: 1px solid #d8d8d8; }

.light-normal:hover, .notify:hover {
  background-color: #f4f5f8;
  border: 1px solid #d5d5d5; }

.light-info, .notify.info {
  color: #444;
  background-color: #e5f3ff;
  border: 1px solid #b2dbff; }

.light-info:hover, .notify.info:hover {
  background-color: #e0f1ff;
  border: 1px solid #add9ff; }

.light-warning, .notify.warning {
  background-color: #fdf4df;
  border: 1px solid #fae4af; }

.light-warning:hover, .notify.warning:hover {
  background-color: #fdf3da;
  border: 1px solid #fae3aa; }

.light-success, .md .form-field-wrapper .form-icon.success, .md .form-field-wrapper .form-icon-type.success, .notify.success {
  color: #444;
  background-color: #d9f0d3;
  border: 1px solid #b8e4ad; }

.light-success:hover, .md .form-field-wrapper .form-icon.success:hover, .md .form-field-wrapper .form-icon-type.success:hover, .notify.success:hover {
  background-color: #d6efcf;
  border: 1px solid #b5e2a9; }

.light-error, .md .form-field-wrapper.error, .notify.error {
  color: #444;
  background-color: #fbece8;
  border: 1px solid #f5c8bb; }

.light-error:hover, .md .form-field-wrapper.error:hover, .notify.error:hover {
  background-color: #fbe8e3;
  border: 1px solid #f4c4b7; }

.dark-normal, .md .btn {
  color: #444;
  background-color: #f7f8fa;
  border: 1px solid #d8d8d8; }

.dark-normal:hover, .md .btn:hover {
  background-color: #e7eaf0;
  border: 1px solid #cbcbcb; }

.dark-info, .md .btn.info {
  color: #fff;
  background-color: #4dacfe;
  border: 1px solid #1a94fe; }

.dark-info:hover, .md .btn.info:hover {
  background-color: #1a94fe;
  border: 1px solid #0188fd; }

.dark-success, .md .btn.success {
  color: #fff;
  background-color: #77ca60;
  border: 1px solid #59b93e; }

.dark-success:hover, .md .btn.success:hover {
  background-color: #59b93e;
  border: 1px solid #4fa637; }

.dark-warning, .md .btn.warning {
  color: #fff;
  background-color: #f5c44e;
  border: 1px solid #f2b41e; }

.dark-warning:hover, .md .btn.warning:hover {
  background-color: #f2b41e;
  border: 1px solid #e9a90d; }

.dark-error, .md .btn.error {
  color: #fff;
  background-color: #e15b36;
  border: 1px solid #c6421e; }

.dark-error:hover, .md .btn.error:hover {
  background-color: #c6421e;
  border: 1px solid #b03b1a; }

.md .form-wrapper {
  position: relative;
  display: block; }

.md .form-wrapper > .form-label {
  padding: 20px; }

.md .form-wrapper > .check {
  height: 100%;
  border: 0;
  background-color: transparent;
  outline: none;
  color: #444;
  display: block;
  float: left;
  font-size: 1em;
  height: 35px;
  line-height: 35px; }

.md .form-wrapper > .form-label {
  font-size: 1em;
  padding: 0 20px;
  height: 35px;
  line-height: 35px; }

.md .form-wrapper.small {
  height: 20px;
  line-height: 20px; }

.md .form-wrapper.small > .check {
  font-size: 0.8em;
  height: 20px;
  line-height: 20px; }

.md .form-wrapper.small > .form-label {
  font-size: 0.8em;
  padding: 0 10px;
  height: 20px;
  line-height: 20px; }

.md .form-wrapper.medium {
  height: 30px;
  line-height: 30px; }

.md .form-wrapper.medium > .check {
  font-size: 0.9em;
  height: 30px;
  line-height: 30px; }

.md .form-wrapper.medium > .form-label {
  font-size: 0.9em;
  padding: 0 15px;
  height: 30px;
  line-height: 30px; }

.md .form-wrapper.large {
  height: 40px;
  line-height: 40px; }

.md .form-wrapper.large > .check {
  font-size: 1.1em;
  height: 40px;
  line-height: 40px; }

.md .form-wrapper.large > .form-label {
  font-size: 1.1em;
  padding: 0 25px;
  height: 40px;
  line-height: 40px; }

.md .form-field-wrapper.small > .input, .md .form-field-wrapper.small > .select {
  font-size: 0.8em;
  padding: 0 10px;
  height: 20px;
  line-height: 20px; }

.md .form-field-wrapper.medium > .input, .md .form-field-wrapper.medium > .select {
  font-size: 0.9em;
  padding: 0 15px;
  height: 30px;
  line-height: 30px; }

.md .form-field-wrapper.large > .input, .md .form-field-wrapper.large > .select {
  font-size: 1.1em;
  padding: 0 25px;
  height: 40px;
  line-height: 40px; }

.md .form-field-wrapper {
  position: relative;
  display: block;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  background-color: #fafbfc; }

.md .form-field-wrapper > .input, .md .form-field-wrapper > .select, .md .form-field-wrapper > .textarea {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  outline: none;
  color: #444;
  display: block;
  float: left;
  font-size: 1em;
  padding: 0 20px;
  height: 35px;
  line-height: 35px; }

.md .form-field-wrapper > .input:hover, .md .form-field-wrapper > .select:hover, .md .form-field-wrapper > .textarea:hover {
  background-color: #f4f5f8; }

.md .form-field-wrapper > .input:focus, .md .form-field-wrapper > .select:focus, .md .form-field-wrapper > .textarea:focus {
  background-color: #f4f5f8; }

.md .form-field-wrapper.i1 > .input, .md .form-field-wrapper.i1 > .select, .md .form-field-wrapper.i1 > .textarea {
  width: -webkit-calc(100% - 35px);
  width: -moz-calc(100% - 35px);
  width: calc(100% - 35px); }

.md .form-field-wrapper.i2 > .input, .md .form-field-wrapper.i2 > .select, .md .form-field-wrapper.i2 > .textarea {
  width: -webkit-calc(100% - 70px);
  width: -moz-calc(100% - 70px);
  width: calc(100% - 70px); }

.md .form-field-wrapper.i3 > .input, .md .form-field-wrapper.i3 > .select, .md .form-field-wrapper.i3 > .textarea {
  width: -webkit-calc(100% - 105px);
  width: -moz-calc(100% - 105px);
  width: calc(100% - 105px); }

.md .form-field-wrapper > .select {
  padding-right: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat; }

.md .form-field-wrapper > .select::-ms-expand {
  display: none; }

.md .form-field-wrapper > .select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

.md .form-field-wrapper > .textarea {
  line-height: normal;
  padding: 10px 20px;
  resize: vertical;
  min-height: 70px; }

.md .form-field-wrapper.error > .input:hover, .md .form-field-wrapper.error > .select:hover, .md .form-field-wrapper.error > .textarea:hover {
  background-color: #f8dad1; }

.md .form-field-wrapper.error > .input:focus, .md .form-field-wrapper.error > .select:focus, .md .form-field-wrapper.error > .textarea:focus {
  background-color: #f8dad1; }

.md .form-field-wrapper.error > .input::-webkit-input-placeholder, .md .form-field-wrapper.error > .select::-webkit-input-placeholder, .md .form-field-wrapper.error > .textarea::-webkit-input-placeholder {
  color: #f2b6a5; }

.md .form-field-wrapper.error > .input::-moz-placeholder, .md .form-field-wrapper.error > .select::-moz-placeholder, .md .form-field-wrapper.error > .textarea::-moz-placeholder {
  color: #f2b6a5; }

.md .form-field-wrapper.error > .input:-ms-input-placeholder, .md .form-field-wrapper.error > .select:-ms-input-placeholder, .md .form-field-wrapper.error > .textarea:-ms-input-placeholder {
  color: #f2b6a5; }

.md .form-field-wrapper.error > .input:-moz-placeholder, .md .form-field-wrapper.error > .select:-moz-placeholder, .md .form-field-wrapper.error > .textarea:-moz-placeholder {
  color: #f2b6a5; }

.md .form-field-wrapper.error > .select {
  background-image: linear-gradient(45deg, transparent 50%, #e87f62 50%), linear-gradient(135deg, #e87f62 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat; }

.md .form-field-wrapper.error .form-icon, .md .form-field-wrapper.error .form-icon-type {
  color: #e15b36; }

.md .form-field-wrapper.error .form-icon.rs, .md .form-field-wrapper.error .form-icon-type.rs {
  box-shadow: 9px 1px 0px -8px #f5c8bb; }

.md .form-field-wrapper.error .form-icon.ls, .md .form-field-wrapper.error .form-icon-type.ls {
  box-shadow: -9px 1px 0px -8px #f5c8bb; }

.md .form-field-wrapper.error .form-icon:hover {
  color: #e0542d;
  background-color: #f8dad1; }

.md .form-field-wrapper .form-icon, .md .form-field-wrapper .form-icon-type {
  font-size: 1.1em;
  color: #a5a5a5;
  text-align: center;
  display: block;
  width: 35px;
  background-color: transparent;
  height: 35px;
  line-height: 35px; }

.md .form-field-wrapper .form-icon.rs, .md .form-field-wrapper .form-icon-type.rs {
  box-shadow: 9px 1px 0px -8px #ececec; }

.md .form-field-wrapper .form-icon.ls, .md .form-field-wrapper .form-icon-type.ls {
  box-shadow: -9px 1px 0px -8px #ececec; }

.md .form-field-wrapper .form-icon-type {
  float: left; }

.md .form-field-wrapper .form-icon-type.icon-optional {
  color: #b8e4ad;
  background-color: transparent; }

.md .form-field-wrapper .form-icon-type.icon-conditional {
  color: #fae4af;
  background-color: transparent; }

.md .form-field-wrapper .form-icon-type.icon-mandatory {
  color: #eea38f;
  background-color: transparent; }

.md .form-field-wrapper .form-icon-type.icon-exclamation {
  color: #e15b36;
  background-color: transparent; }

.md .form-field-wrapper .form-icon {
  cursor: pointer;
  float: right; }

.md .form-field-wrapper .form-icon:hover {
  color: #8b8b8b;
  background-color: #f1f3f6; }

.md .form-label {
  color: #008ec0;
  height: 35px;
  line-height: 35px; }

.light-normal, .notify {
  color: #444;
  background-color: #f7f8fa;
  border: 1px solid #d8d8d8; }

.light-normal:hover, .notify:hover {
  background-color: #f4f5f8;
  border: 1px solid #d5d5d5; }

.light-info, .notify.info {
  color: #444;
  background-color: #e5f3ff;
  border: 1px solid #b2dbff; }

.light-info:hover, .notify.info:hover {
  background-color: #e0f1ff;
  border: 1px solid #add9ff; }

.light-warning, .notify.warning {
  background-color: #fdf4df;
  border: 1px solid #fae4af; }

.light-warning:hover, .notify.warning:hover {
  background-color: #fdf3da;
  border: 1px solid #fae3aa; }

.light-success, .md .form-field-wrapper .form-icon.success, .md .form-field-wrapper .form-icon-type.success, .notify.success {
  color: #444;
  background-color: #d9f0d3;
  border: 1px solid #b8e4ad; }

.light-success:hover, .md .form-field-wrapper .form-icon.success:hover, .md .form-field-wrapper .form-icon-type.success:hover, .notify.success:hover {
  background-color: #d6efcf;
  border: 1px solid #b5e2a9; }

.light-error, .md .form-field-wrapper.error, .notify.error {
  color: #444;
  background-color: #fbece8;
  border: 1px solid #f5c8bb; }

.light-error:hover, .md .form-field-wrapper.error:hover, .notify.error:hover {
  background-color: #fbe8e3;
  border: 1px solid #f4c4b7; }

.dark-normal, .md .btn {
  color: #444;
  background-color: #f7f8fa;
  border: 1px solid #d8d8d8; }

.dark-normal:hover, .md .btn:hover {
  background-color: #e7eaf0;
  border: 1px solid #cbcbcb; }

.dark-info, .md .btn.info {
  color: #fff;
  background-color: #4dacfe;
  border: 1px solid #1a94fe; }

.dark-info:hover, .md .btn.info:hover {
  background-color: #1a94fe;
  border: 1px solid #0188fd; }

.dark-success, .md .btn.success {
  color: #fff;
  background-color: #77ca60;
  border: 1px solid #59b93e; }

.dark-success:hover, .md .btn.success:hover {
  background-color: #59b93e;
  border: 1px solid #4fa637; }

.dark-warning, .md .btn.warning {
  color: #fff;
  background-color: #f5c44e;
  border: 1px solid #f2b41e; }

.dark-warning:hover, .md .btn.warning:hover {
  background-color: #f2b41e;
  border: 1px solid #e9a90d; }

.dark-error, .md .btn.error {
  color: #fff;
  background-color: #e15b36;
  border: 1px solid #c6421e; }

.dark-error:hover, .md .btn.error:hover {
  background-color: #c6421e;
  border: 1px solid #b03b1a; }

.md .btn {
  display: inline-block;
  border-radius: 2px;
  margin: 0;
  padding: 0 20px;
  color: #444;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 1em;
  padding: 0 20px;
  height: 35px;
  line-height: 35px; }

.md .btn.full {
  width: 100%;
  text-align: center; }

.md .btn.small {
  font-size: 0.8em;
  padding: 0 10px;
  height: 20px;
  line-height: 20px; }

.md .btn.medium {
  font-size: 0.9em;
  padding: 0 15px;
  height: 30px;
  line-height: 30px; }

.md .btn.large {
  font-size: 1.1em;
  padding: 0 25px;
  height: 40px;
  line-height: 40px; }

.md span[class^="icon-spinner"] {
  display: inline-block;
  line-height: 1;
  animation: anim-rotate 2s infinite linear; }

@keyframes anim-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.line-separator {
  border: 0;
  border-top: 1px solid #d8d8d8;
  padding: 0;
  margin: 20px 0; }

.light-normal, .notify {
  color: #444;
  background-color: #f7f8fa;
  border: 1px solid #d8d8d8; }

.light-normal:hover, .notify:hover {
  background-color: #f4f5f8;
  border: 1px solid #d5d5d5; }

.light-info, .notify.info {
  color: #444;
  background-color: #e5f3ff;
  border: 1px solid #b2dbff; }

.light-info:hover, .notify.info:hover {
  background-color: #e0f1ff;
  border: 1px solid #add9ff; }

.light-warning, .notify.warning {
  background-color: #fdf4df;
  border: 1px solid #fae4af; }

.light-warning:hover, .notify.warning:hover {
  background-color: #fdf3da;
  border: 1px solid #fae3aa; }

.light-success, .md .form-field-wrapper .form-icon.success, .md .form-field-wrapper .form-icon-type.success, .notify.success {
  color: #444;
  background-color: #d9f0d3;
  border: 1px solid #b8e4ad; }

.light-success:hover, .md .form-field-wrapper .form-icon.success:hover, .md .form-field-wrapper .form-icon-type.success:hover, .notify.success:hover {
  background-color: #d6efcf;
  border: 1px solid #b5e2a9; }

.light-error, .md .form-field-wrapper.error, .notify.error {
  color: #444;
  background-color: #fbece8;
  border: 1px solid #f5c8bb; }

.light-error:hover, .md .form-field-wrapper.error:hover, .notify.error:hover {
  background-color: #fbe8e3;
  border: 1px solid #f4c4b7; }

.dark-normal, .md .btn {
  color: #444;
  background-color: #f7f8fa;
  border: 1px solid #d8d8d8; }

.dark-normal:hover, .md .btn:hover {
  background-color: #e7eaf0;
  border: 1px solid #cbcbcb; }

.dark-info, .md .btn.info {
  color: #fff;
  background-color: #4dacfe;
  border: 1px solid #1a94fe; }

.dark-info:hover, .md .btn.info:hover {
  background-color: #1a94fe;
  border: 1px solid #0188fd; }

.dark-success, .md .btn.success {
  color: #fff;
  background-color: #77ca60;
  border: 1px solid #59b93e; }

.dark-success:hover, .md .btn.success:hover {
  background-color: #59b93e;
  border: 1px solid #4fa637; }

.dark-warning, .md .btn.warning {
  color: #fff;
  background-color: #f5c44e;
  border: 1px solid #f2b41e; }

.dark-warning:hover, .md .btn.warning:hover {
  background-color: #f2b41e;
  border: 1px solid #e9a90d; }

.dark-error, .md .btn.error {
  color: #fff;
  background-color: #e15b36;
  border: 1px solid #c6421e; }

.dark-error:hover, .md .btn.error:hover {
  background-color: #c6421e;
  border: 1px solid #b03b1a; }

.notify {
  border: 1px solid #d8d8d8;
  padding: 30px;
  margin: 20px 0;
  border-radius: 2px;
  position: relative; }

.notify > .close {
  color: #d8d8d8; }

.notify > .close:hover {
  color: #bebebe; }

.notify > .close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px; }

.notify.info > .close {
  color: #66b8fe; }

.notify.info > .close:hover {
  color: #34a0fe; }

.notify.success > .close {
  color: #77ca60; }

.notify.success > .close:hover {
  color: #59b93e; }

.notify.warning > .close {
  color: #f5c44e; }

.notify.warning > .close:hover {
  color: #f2b41e; }

.notify.error > .close {
  color: #e87f62; }

.notify.error > .close:hover {
  color: #e15b36; }

.light-normal, .notify {
  color: #444;
  background-color: #f7f8fa;
  border: 1px solid #d8d8d8; }

.light-normal:hover, .notify:hover {
  background-color: #f4f5f8;
  border: 1px solid #d5d5d5; }

.light-info, .notify.info {
  color: #444;
  background-color: #e5f3ff;
  border: 1px solid #b2dbff; }

.light-info:hover, .notify.info:hover {
  background-color: #e0f1ff;
  border: 1px solid #add9ff; }

.light-warning, .notify.warning {
  background-color: #fdf4df;
  border: 1px solid #fae4af; }

.light-warning:hover, .notify.warning:hover {
  background-color: #fdf3da;
  border: 1px solid #fae3aa; }

.light-success, .md .form-field-wrapper .form-icon.success, .md .form-field-wrapper .form-icon-type.success, .notify.success {
  color: #444;
  background-color: #d9f0d3;
  border: 1px solid #b8e4ad; }

.light-success:hover, .md .form-field-wrapper .form-icon.success:hover, .md .form-field-wrapper .form-icon-type.success:hover, .notify.success:hover {
  background-color: #d6efcf;
  border: 1px solid #b5e2a9; }

.light-error, .md .form-field-wrapper.error, .notify.error {
  color: #444;
  background-color: #fbece8;
  border: 1px solid #f5c8bb; }

.light-error:hover, .md .form-field-wrapper.error:hover, .notify.error:hover {
  background-color: #fbe8e3;
  border: 1px solid #f4c4b7; }

.dark-normal, .md .btn {
  color: #444;
  background-color: #f7f8fa;
  border: 1px solid #d8d8d8; }

.dark-normal:hover, .md .btn:hover {
  background-color: #e7eaf0;
  border: 1px solid #cbcbcb; }

.dark-info, .md .btn.info {
  color: #fff;
  background-color: #4dacfe;
  border: 1px solid #1a94fe; }

.dark-info:hover, .md .btn.info:hover {
  background-color: #1a94fe;
  border: 1px solid #0188fd; }

.dark-success, .md .btn.success {
  color: #fff;
  background-color: #77ca60;
  border: 1px solid #59b93e; }

.dark-success:hover, .md .btn.success:hover {
  background-color: #59b93e;
  border: 1px solid #4fa637; }

.dark-warning, .md .btn.warning {
  color: #fff;
  background-color: #f5c44e;
  border: 1px solid #f2b41e; }

.dark-warning:hover, .md .btn.warning:hover {
  background-color: #f2b41e;
  border: 1px solid #e9a90d; }

.dark-error, .md .btn.error {
  color: #fff;
  background-color: #e15b36;
  border: 1px solid #c6421e; }

.dark-error:hover, .md .btn.error:hover {
  background-color: #c6421e;
  border: 1px solid #b03b1a; }

body {
  font-family: Arial, Helvetica, Verdana,  sans-serif;
  font-size: 1em;
  color: #444;
  background-color: #f7f8fa; }

.md {
  margin: 0 auto;
  max-width: 1224px;
  min-width: 500px;
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

@media screen and (max-width: 1400px) {
  .md {
    max-width: none;
    display: block;
    margin: 0 20px; } }

.md > .top {
  z-index: 2; }

.md .top-left {
  width: 230px;
  float: left;
  height: 80px; }

.md .top-right {
  height: 40px;
  line-height: 40px;
  float: right; }

.md .top-right-item {
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.md .top-right-item > .global-menu-item {
  height: 40px;
  line-height: 40px;
  font-size: 0.9em;
  text-decoration: none;
  color: #444; }

.md .top-right-item:hover {
  background-color: #eef0f4; }

.md .top-right-item.active {
  border-bottom: 4px solid #008ec0; }

.md > .center {
  z-index: 1;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0; }

.md > .center.menu .center-left {
  display: block;
  width: 230px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

.md > .center.menu .center-right {
  left: 230px; }

.md .center-left {
  display: none; }

.md .center-right {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.content {
  padding: 20px 40px;
  border: 1px solid #d8d8d8;
  background-color: #fefefe;
  overflow-y: scroll;
  z-index: 1;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.03);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px; }

.title {
  color: #5e5e5e;
  font-weight: bold;
  margin: 0; }

.user {
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.user .user-menu {
  display: none;
  width: 300px;
  background-color: #fff;
  line-height: 30px;
  padding: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: -1px; }

.user .user-menu:after, .user .user-menu:before {
  position: absolute;
  bottom: 100%;
  left: 260px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none; }

.user .user-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 8px;
  margin-left: -8px; }

.user .user-menu:before {
  border-color: rgba(82, 82, 82, 0);
  border-bottom-color: #d8d8d8;
  border-width: 9px;
  margin-left: -9px; }

.user.active .user-menu {
  display: block; }

.user-btn {
  padding: 0 10px; }

.user-btn:hover {
  background-color: #eef0f4; }

.user-image {
  display: inline-block; }

.user-image > .image {
  vertical-align: middle;
  padding: 8px;
  background-color: #e7eaf0;
  border-radius: 50%; }

.user-image > img.image {
  height: 30px;
  width: 30px;
  padding: 0; }

.user-name {
  clear: both;
  display: inline-block;
  font-size: 0.9em; }

.top-right-menu {
  display: inline-block; }

.light-normal, .notify {
  color: #444;
  background-color: #f7f8fa;
  border: 1px solid #d8d8d8; }

.light-normal:hover, .notify:hover {
  background-color: #f4f5f8;
  border: 1px solid #d5d5d5; }

.light-info, .notify.info {
  color: #444;
  background-color: #e5f3ff;
  border: 1px solid #b2dbff; }

.light-info:hover, .notify.info:hover {
  background-color: #e0f1ff;
  border: 1px solid #add9ff; }

.light-warning, .notify.warning {
  background-color: #fdf4df;
  border: 1px solid #fae4af; }

.light-warning:hover, .notify.warning:hover {
  background-color: #fdf3da;
  border: 1px solid #fae3aa; }

.light-success, .md .form-field-wrapper .form-icon.success, .md .form-field-wrapper .form-icon-type.success, .notify.success {
  color: #444;
  background-color: #d9f0d3;
  border: 1px solid #b8e4ad; }

.light-success:hover, .md .form-field-wrapper .form-icon.success:hover, .md .form-field-wrapper .form-icon-type.success:hover, .notify.success:hover {
  background-color: #d6efcf;
  border: 1px solid #b5e2a9; }

.light-error, .md .form-field-wrapper.error, .notify.error {
  color: #444;
  background-color: #fbece8;
  border: 1px solid #f5c8bb; }

.light-error:hover, .md .form-field-wrapper.error:hover, .notify.error:hover {
  background-color: #fbe8e3;
  border: 1px solid #f4c4b7; }

.dark-normal, .md .btn {
  color: #444;
  background-color: #f7f8fa;
  border: 1px solid #d8d8d8; }

.dark-normal:hover, .md .btn:hover {
  background-color: #e7eaf0;
  border: 1px solid #cbcbcb; }

.dark-info, .md .btn.info {
  color: #fff;
  background-color: #4dacfe;
  border: 1px solid #1a94fe; }

.dark-info:hover, .md .btn.info:hover {
  background-color: #1a94fe;
  border: 1px solid #0188fd; }

.dark-success, .md .btn.success {
  color: #fff;
  background-color: #77ca60;
  border: 1px solid #59b93e; }

.dark-success:hover, .md .btn.success:hover {
  background-color: #59b93e;
  border: 1px solid #4fa637; }

.dark-warning, .md .btn.warning {
  color: #fff;
  background-color: #f5c44e;
  border: 1px solid #f2b41e; }

.dark-warning:hover, .md .btn.warning:hover {
  background-color: #f2b41e;
  border: 1px solid #e9a90d; }

.dark-error, .md .btn.error {
  color: #fff;
  background-color: #e15b36;
  border: 1px solid #c6421e; }

.dark-error:hover, .md .btn.error:hover {
  background-color: #c6421e;
  border: 1px solid #b03b1a; }

.left-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 2; }

.left-menu > li {
  position: relative;
  margin: 0 20px 0 0;
  padding: 0 20px;
  cursor: pointer;
  color: #444;
  display: block;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid #f7f8fa;
  background-color: #f1f3f6;
  height: 30px;
  line-height: 30px; }

.left-menu > li > a {
  display: block;
  text-decoration: none; }

.left-menu > li > span[class^="icon-"] {
  height: 30px;
  line-height: 30px; }

.left-menu > li:hover {
  color: #000;
  background-color: #e7eaf0; }

.left-menu > li.act {
  background-color: #fff;
  box-shadow: inset 3px 0 0 #008ec0;
  border: 1px solid #e7eaf0; }

.left-menu > li.act:after, .left-menu > li.act:before {
  right: -22px;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: white;
  z-index: 2; }

.left-menu > li.act:after {
  border-width: 8px;
  margin-top: -8px; }

.left-menu > li.act:before {
  border-right-color: #e5e5e5;
  border-width: 9px;
  margin-top: -9px; }

.content-title {
  margin-top: 20px; }
