{% extends 'WhereGroupThemeBundle::template.html.twig' %}

{% block center %}
<div class="page-content">
    <h1 style="display:block;text-align:right;color:{% if result['status'] == 1 %}green{% else %}red{% endif %};">
        <span class="icon-accessibility"></span>
    </h1>
    <hr/>

    {% for key,value in result['data'] if value == 0 %}
        <div style="color:{% if value == 1 %}green{% else %}red{% endif %}";>{{ key }}</div>
    {% endfor %}

    {% for key,value in result['data']  if value == 1 %}
        <div style="color:{% if value == 1 %}green{% else %}red{% endif %}";>{{ key }}</div>
    {% endfor %}
</div>
{% endblock %}
