@import 'bundles/wheregrouptheme/style/sass-lib/config';
@import 'bundles/wheregrouptheme/style/sass-lib/mixins';

h1, h2, h3, h4, h5 {
    color: $primary;
}

.logo {
    margin-left:-($page-width/2) + 20px;
    @include pos(10px,'',0,50%);
}

.plugin-import {
    .plugin-label {
        font-weight: bold;
    }

    .plugin-row {
        display: block;
        margin: 10px;
    }
}
