@import 'bundles/wheregrouptheme/style/sass-lib/mixins';

$preview-gb: #eee;
$preview-border: #c0c0c0;
$preview-shadow: rgba(100, 100, 100, .1);
$preview-head: #444;
$preview-table-row: #ddd;

.preview {
    background-color: $preview-gb;
    border: 1px solid $preview-border;
    border-radius: 5px;
    box-shadow: inset -5px -5px 5px $preview-shadow;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 285px;

    & > .head {
        border-bottom: 1px solid $preview-border;
        color: $preview-head;
        font-weight: bold;
        padding: 5px 0;
    }

    & > .body {
        height: 200px;
        margin-top: 10px;
        overflow: auto;
    }
}

.preview-table {
    color: $preview-head;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    width: 100%;

    & a  {
        color: $preview-head;
        display: block;
        font-size: 12px;
        font-style: italic;
        text-decoration: none;
    }

    & tr {
        height: 20px;

        &:hover {
            background-color: $preview-table-row;
        }
    }
}
