
/*
%font_main {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    size: 16px;
}

%f_form_label {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #666;
}

%f_form_input {
    font-size: 14px;
    color: #333;
}

%f_danger_label {
    font-size: 14px;
    font-weight: bold;
    color: $dangerBgAct;
}
*/
