@import 'bundles/wheregrouptheme/style/sass-lib/config';
@import 'bundles/wheregrouptheme/style/sass-lib/mixins';

.global-menu, .content-menu ul, .page-menu-list, .profile-list, .plugin-menu-list  {
    margin: 0;
    list-style: none;
    z-index: 1;
}

.global-menu {
    height: $global-menu-height;
    width: $pageWidth;
    margin-left:-($pageWidth/2);
    @include pos(0,'','',50%);

    & > li {
        float: right;
    }
}

.plugin-menu {
    border: 1px solid darken($bright, 30%);
    background-color: $secondary;
    height: 40px;
    @include pos($pageTopHeight - 40px,0,'',0);
}

.plugin-menu-content {
    padding: 0 10px;
    width: $pageWidth;
    margin-left:-($pageWidth/2);
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: darken($secondary, 10%);

    @include pos(0,'',0,50%);
}

.plugin-menu-content-left {
    float: left;
    height: 40px;
    line-height: 40px;
}

.plugin-menu-content-right {
    float: right;
    height: 40px;
    line-height: 40px;
}

.profile-select > .profile-list {
    display: none;
    position: absolute;
    // width: 150px;
    text-align: left;
    background-color: $primary;
    color: $primary-contrast;
    padding: 10px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: darken($primary, 5%);
    margin-top: -5px;
    border-bottom-radius: 8px;

    & > li {
        height: 30px;
        line-height: 30px;

        & > a,
        & button {
            color: $primary-contrast;
            display: block;
            padding: 0 10px;
            border-radius: 8px;

            &:hover {
                background-color: lighten($primary, 5%);
                text-decoration: none;
            }
        }

        & button {
            padding: 10px;
        }
    }
}

.profile-select.act > .profile-list {
    background-color: $primary-contrast;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: darken($primary-contrast, 10%);

    & > li {
        & > a,
        & button {
            color: $primary;

            &:hover {
                background-color: lighten($primary-contrast, 5%);
            }
        }
    }
}

.profile-select:hover .profile-list {
    display: block;
}

.global-menu > li > a,
.global-menu > li button,
.profile-list-label {
    color: $primary-contrast;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 0 10px;
    display: block;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: $primary;
}

.global-menu > li:hover > a,
// .global-menu > li:hover button,
.global-menu > li:hover .profile-list-label {
    color: $primary-contrast;
}

.global-menu > li.act > a,
.global-menu > li.act .profile-list-label {
    background-color: $primary-contrast;
    color: $primary;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: $primary-contrast;
    border-top-radius: 8px;
}

.page-menu-list {
    padding: 0;
    display: block;
    border-bottom: 1px solid lighten($bright, 10%);

    & > li {
        padding: 5px 10px;
        border-top: 1px solid lighten($bright, 10%);
        border-bottom: 1px solid darken($bright, 10%);
        cursor: pointer;
        font-size: 14px;
        color: lighten($fontColor, 15%);
        text-shadow: lighten($fontColor, 60%) 1px 1px 2px;

        &:hover {
            background-color: lighten($bright, 65%);
        }

        &.act {
            background-color: darken($bright, 10%);
            border-left: 4px solid $primary;
            border-top: 1px solid lighten($dark, 50%);
            border-bottom: 1px solid lighten($dark, 50%);
            color: $fontColor;
            // Menuepunkt nach rechts und links gezogen um Border zu verdecken.
            margin-right: -1px;
            margin-left: -4px;
            background-image: url('../img/noise.png');
            border-left-radius: 5px;
        }

        &:first-child {
            border-top: 1px solid white;
        }

        & a {
            display: block;
            font-size: 14px;
            text-decoration: none;
            color: lighten($fontColor, 15%);
            text-shadow: lighten($fontColor, 60%) 1px 1px 2px;
        }
    }

}

.plugin-menu-list > li {
    float: right;
    padding: 0 5px;

    & > button, & > a {
        color: lighten($secondary, 40%);
        text-shadow: darken($secondary, 20%) 1px 1px 2px;

        &:hover {
            color: lighten($secondary, 20%);
        }
    }

    & > a {
        display: block;

        &:hover {
            text-decoration: none;
        }
    }
}

.no-style-button {
    padding: 0;
    margin: 0;
    display: block;
    border: 0;
    background-color: transparent;
    height: 40px;
    // color: lighten($fontColor, 5%);
    // text-shadow: lighten($fontColor, 60%) 1px 1px 2px;
}
