@import 'bundles/wheregrouptheme/style/sass-lib/config';
@import 'bundles/wheregrouptheme/style/sass-lib/mixins';

$shadow: rgba(0, 0, 0, .1);
$link: #444;

* {
    box-sizing: border-box;
    text-shadow: $shadow 1px 1px 0;
}

.hidden {
    display: none;
}

a {
    color: $link;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

html,
body {
    @include pos(0, 0, 0, 0);

    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.clear {
    clear: both;
}

.logo {
    background-image: url($logo);
    background-repeat: no-repeat;
    height: 100px;
    margin-left: - ($page-width / 2);
    margin-top: 40px;
    width: 100px;
    z-index: 2;
}

body {
    font-family: Arial, Helvetica, Verdana,  sans-serif;
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: normal;
    background-color: $primary-contrast;
}

.page {
    @include pos(0,0,0,0);

    & > .page-top {
        background-color: $primary;
        border-bottom: 5px solid darken($primary, 5%);
        height: 40px;
        line-height: 40px; // ?
        @include pos(0,0,'',0);
    }

    & .page-center {
        @include pos($page-top-height,0,0,0);
        background-color: $secondary-contrast;

        & .page-left {
            width: $page-left-width;
            margin-left:-($page-width/2);
            background-color: $bright;
            border-right: 1px solid lighten($dark, 50%);
            border-left: 1px solid darken($bright, 30%);
            @include pos(0,'',0,50%);
        }

        & .page-right {
            padding: 20px;
            width: $page-width - $page-left-width;
            margin-left:-($page-width/2) + $page-left-width;
            background-color: lighten($bright, 10%);
            background-image: url('../img/noise.png');
            border-right: 1px solid darken($bright, 30%);
            overflow: auto;
            @include pos(0,'',0,50%);
        }

        & .page-content {
            padding: 20px;
            width: $page-width;
            margin-left:-($page-width/2);
            background-color: lighten($bright, 10%);
            background-image: url('../img/noise.png');
            border-right: 1px solid darken($bright, 30%);
            border-left: 1px solid darken($bright, 30%);
            overflow: auto;
            @include pos(0,'',0,50%);
        }
    }
}

.last-1 {
    & * {
        padding: 0;
        margin: 0;
    }
    width: 20px;
    padding: 0;
}
