@import 'bundles/wheregrouptheme/style/sass-lib/config';
@import 'bundles/wheregrouptheme/style/sass-lib/mixins';
@import 'bundles/wheregrouptheme/style/sass-lib/extensions';

$silver: #c0c0c0;
$white: #fff;

.fs-view {
    border: 1px solid $primary;
    margin: 20px;
    padding: 20px;
}

.title-box {
    border-bottom: 4px solid $success;
    float: left;
    margin: 14px;
    position: relative;
    width: ($page-width - $page-left-width) / 2 - 50;

    &:hover {
        background-color: darken($white, 5%);
    }

    &.disabled {
        border-color: $silver;
    }

    &.superuser {
        border-color: $warning;
    }

    .title-box-logo {
        float: left;
        font-size: 60px;
        text-align: center;
        width: 80px;

        & > a:hover {
            text-decoration: none;
        }
    }

    .title-box-info {
        margin-left: 10px;

        .title {
            @include pos(0, 0, '', 90px);
            font-size: 25px;
            font-weight: bold;

            & > a {
                text-decoration: none;
            }
        }

        .alternate {
            @include pos(40px, 0, '', 90px);
            font-size: 12px;
            font-style: italic;
        }

        .count {
            background-color: lighten($success, 20%);
            border: 1px solid lighten($success, 10%);
            border-bottom-right-radius: 8px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            color: darken($success, 30%);
            padding: 5px 10px;
            position: absolute;
            right: 0;
        }
    }
}

.basic-form {
    & > div {

        label {
            @extend %label;
            margin: 10px 0;
        }

        input[type=text],
        input[type=password],
        select,
        textarea {
            background-color: $white;
            border: 1px solid $silver;
            border-color: $silver;
            border-radius: $radius;
            border-style: solid;
            box-shadow: lighten(#3d3f44, 60%) 1px 1px 3px;
            color: #333;
            display: block;
            font-size: 12px;
            height: 30px;
            padding: 10px 5px;
            width: 100%;

            &[required=required] {
                border-color: $warning;
            }
        }

        select {
            height: 80px;
        }

        textarea {
            height: 80px;
        }
    }
}
