{% extends 'WhereGroupPluginBundle::template.html.twig' %}

{% block content %}
<div class="plugin-view">
    <h1>{% trans %}Import / Export{% endtrans %}</h1>

    <div class="plugin-description">
        {% trans %}Import und Export von Metadaten über die Oberfläche oder Terminal.{% endtrans %}
    </div>
</div>
{% endblock %}
