{% extends 'MetadorThemeBundle:Admin:template.html.twig' %}

{% block title %}{{ 'Gruppe löschen'|trans }}{% endblock %}

{% block content %}
    <div class="notify warning">
        {% trans %}Gruppe wirklich löschen{% endtrans %}?
    </div>

    <form action="{{ path('metador_admin_group_delete', { 'id': form.vars.value.id }) }}" method="post">
    {{ form(form) }}
    </form>
{% endblock %}
