{% extends 'MetadorThemeBundle:Admin:template.html.twig' %}

{% block content %}
    <div class="grid content-title">
        <div class="row r-2">
            <div class="col c-1-2">
                <h1 class="title dm">{% trans %}Datenquellen{% endtrans %}</h1>
            </div>
            <div class="col c-1-2 text-right">
                <a href="{{ path('metador_admin_source_new') }}" class="btn info medium">
                    <span class="icon-plus-circle"></span> {% trans %}Neu{% endtrans %}
                </a>
            </div>
        </div>
    </div>

    <hr class="line-separator" />

    {% for source in sources  %}
        <a href="{{ path('metador_admin_source_edit', {'id': source.id }) }}">{{ source.name }}</a>
        <br/>
    {% endfor %}
{% endblock %}
