{% extends 'ProfileDatasetBundle::template.html.twig' %}

{% block title %}Metador - {% trans %}Daten{% endtrans %}{% endblock %}

{% import "MetadorThemeBundle:Macro:plugin.html.twig" as plugin %}

{% block plugin_menu %}
    {{ parent() }}

    {% if id is defined and hasAccess %}
        {{ plugin.menu({
            'path'  : 'metadata_confirm',
            'params': { 'profile' : 'profile-dataset', 'id' : id },
            'icon'  : 'icon-bin2',
            'label' : 'löschen'
        }) }}
    {% endif %}

    {% if hasAccess or id is not defined %}
        {{ plugin.menu({
            'icon'  : 'icon-floppy-disk',
            'label' : 'speichern'
        }) }}
    {% endif %}
{% endblock %}

{% block menu %}
{% include 'MetadorThemeBundle:Home:status.html.twig' %}

<ul class="page-menu-list profile-menu">
    <li data-tab="metadata" class="act">
        <span class="profile-menu-label">{% trans %}Metadatensatz{% endtrans %}</span>
    </li>
    <li data-tab="identification">
        <span class="profile-menu-label">{% trans %}Identifikation{% endtrans %}</span>
    </li>
    <li data-tab="classification">
        <span class="profile-menu-label">{% trans %}Klassifizierung{% endtrans %}</span>
    </li>
    <li data-tab="keyword">
        <span class="profile-menu-label">{% trans %}Schlüsselwort{% endtrans %}</span>
    </li>
    <li data-tab="geographic">
        <span class="profile-menu-label">{% trans %}Geografischer Standort{% endtrans %}</span>
    </li>
    <li data-tab="temporal">
        <span class="profile-menu-label">{% trans %}Zeitbezug{% endtrans %}</span>
    </li>
    <li data-tab="quality">
        <span class="profile-menu-label">{% trans %}Qualität{% endtrans %}</span>
    </li>
    <li data-tab="conformity">
        <span class="profile-menu-label">{% trans %}Übereinstimmung{% endtrans %}</span>
    </li>
    <li data-tab="constraints">
        <span class="profile-menu-label">{% trans %}Beschränkungen{% endtrans %}</span>
    </li>
    <li data-tab="responsibleparty">
        <span class="profile-menu-label">{% trans %}Zuständige Stelle{% endtrans %}</span>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="metadataFormPages">
    <div id="metadata" class="act">
        {% include 'ProfileDatasetBundle:Profile:metadata.html.twig' %}
    </div>
    <div id="identification">
        {% include 'ProfileDatasetBundle:Profile:identification.html.twig' %}
    </div>
    <div id="classification">
        {% include 'ProfileDatasetBundle:Profile:classification.html.twig' %}
    </div>
    <div id="keyword">
        {% include 'ProfileDatasetBundle:Profile:keyword.html.twig' %}
    </div>
    <div id="geographic">
        {% include 'ProfileDatasetBundle:Profile:geographic.html.twig' %}
    </div>
    <div id="temporal">
        {% include 'ProfileDatasetBundle:Profile:temporal.html.twig' %}
    </div>
    <div id="quality">
        {% include 'ProfileDatasetBundle:Profile:quality.html.twig' %}
    </div>
    <div id="conformity">
        {% include 'ProfileDatasetBundle:Profile:conformity.html.twig' %}
    </div>
    <div id="constraints">
        {% include 'ProfileDatasetBundle:Profile:constraints.html.twig' %}
    </div>
    <div id="responsibleparty">
        {% include 'ProfileDatasetBundle:Profile:responsibleparty.html.twig' %}
    </div>
</div>
{% endblock %}

{% block form_start %}
    <form action="{{ path(path, param) }}" method="post" name="metadataForm" class="metadataForm" autocomplete="off">
{% endblock %}

{% block form_end %}
    </form>
{% endblock %}
