{% extends 'MetadorThemeBundle:Theme:template.html.twig' %}

{% block center %}
<div class="center">
    <div class="center-right">
        <div class="content">
            {% include '@MetadorServiceProfile/Export/pdf.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
