{% for type in ['error', 'warning', 'success', 'notice'] %}
    {% set messages = app.session.flashbag.get(type) %}

    {% if messages is not empty %}
    <div class="notify close {{ type }}">
        <div class="icon-cross notify-close -js-close-notify"></div>
        <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endfor %}
