<div class="helptext">
    {% if is_granted('ROLE_SYSTEM_GEO_OFFICE') %}
        <div class="form-field-wrapper">
            <textarea id="helptext" class="textarea" style="min-height: 200px;">{{ html }}</textarea>
        </div>
    {% else %}
        {{ html|md2html }}
    {% endif %}
</div>
