<div class="helptext" {% if is_granted('ROLE_SYSTEM_GEO_OFFICE') %}contentEditable="true"{% endif %}>
    {% if is_granted('ROLE_SYSTEM_GEO_OFFICE') %}
        {{ html }}
    {% else %}
        {{ html|raw }}
    {% endif %}
</div>
