<div class="helptext" {% if is_granted('ROLE_METADOR_ADMIN') %}contentEditable="true"{% endif %}>
    {% if is_granted('ROLE_METADOR_ADMIN') %}
        {{ html }}
    {% else %}
        {{ html|raw }}
    {% endif %}
</div>