<li data-uses-plugin="wheregroup-map" data-cmd="load-wms-by-url" data-wms-url="{{ url }}">
    <span class="plugin-menu-item">
        <span class="icon-map"></span>
        {% trans %}Karte{% endtrans %}
    </span>
</li>
