@mixin debug($color) {
    border: 5px solid $color;
}

@mixin msgBox($color) {
    background-color: $color;
    border: 1px solid darken($color, 10%);
}

@mixin pos($top, $right, $bottom, $left, $pos : absolute){
    position: $pos;

    @if($top != ''){top:$top;}
    @if($left != ''){left:$left;}
    @if($right != ''){right:$right;}
    @if($bottom != ''){bottom:$bottom;}
}

@mixin posCenter($width, $height){
    width: $width;
    height: $height;
    margin-left: -($width/2);
    margin-top: -($height/2);
    @include pos(50%, '', '', 50%);
}

@mixin userSelect($select){
    -webkit-user-select: $select;
    -moz-user-select: $select;
    -ms-user-select: $select;
    user-select: $select;
}

%inlineBlock {
    display: inline-block;
    zoom: 1;  *display: inline;  /* IE7 Hack */
}