{% extends 'WhereGroupPluginBundle::template.html.twig' %}

{% block content %}
<div class="plugin-view">
    <h1>{% trans %}Internationalisierung{% endtrans %}</h1>
    <div class="plugin-description">
        {% trans %}Ermöglicht das wechseln der Sprache in der Oberfläche.{% endtrans %}
    </div>

    <h2>{% trans %}Konfiguration{% endtrans %}</h2>

    <p>
        <span class="icon-circle"></span>
        {% trans %}Standardsprache definieren{% endtrans %}
    </p>

    <p class="plugin-code-header">
        <span class="icon-file-text"></span>
        app/config/parameters.yml
    </p>

    <pre class="plugin-code header">
parameters:
    locale: de
    </pre>

    {# ###################################################################### #}

    <p>
        <span class="icon-circle"></span>
        {% trans %}Sprachdateien generieren{% endtrans %}
    </p>

    <p class="plugin-code-header">
        <span class="icon-terminal"></span> terminal
    </p>

    <pre class="plugin-code header">
<span class="comment"># {% trans %}Legt die Sprachdatei für die Hauptanwendung an{% endtrans %}</span>
app/console translation:extract --config=application

<span class="comment"># {% trans %}Legt die Sprachdatei für die Metador Plugins an{% endtrans %}</span>
app/console translation:extract --config=plugins

<span class="comment"># {% trans %}Legt die Sprachdatei für die sonstige Plugins an{% endtrans %}</span>
app/console translation:extract --config=user
    </pre>
</div>
{% endblock %}
