{% extends 'MetadorThemeBundle:Theme:template.html.twig' %}

{% if profile is defined %}
    {% set formPath   = 'metadata_index' %}
    {% set formParams = { 'profile' :  profile } %}
{% else %}
    {% set formPath   = 'metador_home' %}
    {% set formParams = {} %}
{% endif %}

{% block center %}
    {% if isHome is defined %}
    <div class="map-dialog -js-map-dialog">
        <div class="map-menu">
            <span class="btn medium -js-zoom-box">
            <span class="icon-map"></span> Zoom
        </span>
            <select class="select -js-draw-type">
                <option value="NONE">None</option>
                <option value="BOX">Box</option>
                <option value="POLYGON">Polygon</option>
            </select>
            <div class="form-field-wrapper medium" style="display: inline-block;">
                <select class="select -js-crs-code">
                    <option value="EPSG:4326">EPSG:4326</option>
                    <option value="EPSG:4258">EPSG:4258</option>
                    <!--option value="EPSG:31466">EPSG:31466</option>
                    <option value="EPSG:31467">EPSG:31467</option-->
                    <option value="EPSG:25832">EPSG:25832</option>
                </select>
            </div>
        </div>
        <div class="map-dialog-left-menu -js-map-dialog active">
            <div class="map-dialog-left-content -js-map-menu">
                <div class="-js-map-layertree">
                    <h4>Layerbaum</h4>
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="map-dialog-left-menu-button -js-toggle-layertree">
                +
            </div>
        </div>
        <div class="map -js-map" id="map"></div>
    </div>
    {% endif %}


    <div class="home -js-home">
        <div class="source">
            <ul class="source-list">
                {% for slug, source in sourceConfig %}
                    <li class="source-liste-item -js-source {% if loop.first %}active{% endif %}"
                        data-id="source-{{ slug }}">{{ source['name'] }}</li>
                {% endfor %}
            </ul>
            {% include 'MetadorThemeBundle:Home:new-profile.html.twig' %}
        </div>
        <div class="search-content">
            {% include 'MetadorThemeBundle:Theme:notify.html.twig' %}
            {% include 'MetadorThemeBundle:Home:result.html.twig' %}
        </div>
    </div>
{% endblock %}
