{% extends 'MetadorThemeBundle:Theme:template.html.twig' %}

{% if profile is defined %}
    {% set formPath   = 'metadata_index' %}
    {% set formParams = { 'profile' :  profile } %}
{% else %}
    {% set formPath   = 'metador_home' %}
    {% set formParams = {} %}
{% endif %}

{% block center %}

<div class="map-dialog -js-map-dialog">
    <div class="map-menu">
        <span class="btn medium">
            <span class="icon-location"></span> Neu
        </span>
        <span class="btn medium">
            <span class="icon-map"></span> Karte
        </span>
    </div>
    <div class="map -js-map" id="map"></div>
</div>

<div class="home -js-home">
    <div class="source">
        <ul class="source-list">
        {% for slug, source in sourceConfig  %}
            <li class="source-liste-item -js-source {% if loop.first %}active{% endif %}" data-id="source-{{ slug }}">{{ source['name'] }}</li>
        {% endfor %}
        </ul>
        {% include 'MetadorThemeBundle:Home:new-profile.html.twig' %}
    </div>
    <div class="search-content">
        {% include 'MetadorThemeBundle:Theme:notify.html.twig' %}
        {% include 'MetadorThemeBundle:Home:result.html.twig' %}
    </div>
</div>
{% endblock %}
