{% if isHome is defined %}
<div class="map-dialog -js-map-dialog">
    <div class="map-menu">
        <span class="btn medium -js-zoom-box">
            <span class="icon-map"></span> Zoom
        </span>

        <select class="input-element medium -js-draw-type">
            <option value="NONE">None</option>
            <option value="BOX">Box</option>
            <option value="POLYGON">Polygon</option>
        </select>

        <select class="input-element medium -js-crs-code">
            <option value="EPSG:4326">EPSG:4326</option>
            <option value="EPSG:4258">EPSG:4258</option>
            <option value="EPSG:25832">EPSG:25832</option>
        </select>

        <input id="map-menu-load-wms-input" type="text" class="input-element medium input"
               placeholder="http://user:password@WmsCapabilitiesUrl?service=WMS&service=WMS&version=1.3.0"
               data-url="{{ url('metador_admin_map_loadwms') }}"/>

        <button id="map-menu-load-wms-button" class="btn success medium"><span class="icon-donwload"></span>Laden</button>

        <form id="file-upload-form" action="{{ path('metador_admin_map_uploadgeom') }}" method="post" enctype="multipart/form-data" style="display:inline-block;">
            <div class="btn medium file-upload">
                Upload
                <input name="file" class="upload -js-file-upload" type="file" size="0" {#accept=".zip|.gml"#}>
            </div>
            {#<div class="file-upload">
                <input class="upload -js-file-upload-submit" type="submit">
            </div>#}
        </form>
    </div>
    <div class="map-dialog-left-menu -js-map-dialog active">
        <div class="map-dialog-left-content -js-map-menu">
            <div class="-js-map-layertree">
                <ul class="layer-tree-list">
                    <li id="dummy-layer" class="draggable" draggable="true" data-draggable="false">&nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="map-dialog-left-menu-button -js-toggle-layertree">
            +
        </div>
    </div>
    <div class="map -js-map" id="map"></div>
</div>
{% endif %}
