.process {
    .icon-pause, .icon-play, .icon-stop {
        display: inline-block;
        width: $normal-item-height;
    }

    & .icon-pause {
        color: $warning;
    }

    & .icon-play {
        color: $success;
    }

    & .icon-stop {
        color: $error;
    }
}
