@import '../config';
@import '../mixins';
@import '../extensions';

body {
    font-family: Arial, Helvetica, Verdana,  sans-serif;
    font-size: 1em;
    color: $font;
    background-color: $background;
}

.md {
    margin: 0 auto;
    max-width: $page-width;
    min-width: 500px;
    position: absolute;

    @media screen and (max-width: $break-large) {
        max-width: none;
        display: block;
        margin: 0 20px;
    }

    @include pos(0, 0, 0, 0);

    & > .top {
        z-index: 2;
        @extend .clearfix;

        @media screen and (max-width: $break-menu) {
            display: none;
        }
    }

    .top-left {
        width: $center-left-width;
        float: left;
        height: $header-height;
    }

    .top-right {
        @include large-item(false, false);
        float: right;
    }

    .top-right-item {
        cursor: pointer;
        display: inline-block;
        padding: 0 10px;
        @include userSelect(none);

        & > .global-menu-item {
            @include large-item(false, false);
            font-size: 0.9em;
            text-decoration: none;
            color: $font;
        }

        &:hover {
            background-color: darken($background, 3%);
        }

        &.active {
            border-bottom: 4px solid $primary;
        }
    }

    & > .center {
        z-index: 1;
        @include pos($header-height, 0, 0, 0);

        @media screen and (max-width: $break-menu) {
            @include pos($padding, 0, 0, 0);
        }

        &.menu {
            .center-left {
                display: block;
                width: $center-left-width;
                @include pos(0, '', 0, 0);

                @media screen and (max-width: $break-menu) {
                    display: none;
                }
            }

            .center-right {
                left: $center-left-width;

                @media screen and (max-width: $break-menu) {
                    left: 0;
                }
            }
        }
    }

    .center-left {
        display: none;
    }

    .center-right {
        @include pos(0, 0, 0, 0);
    }

}

.content {
    padding: $padding $padding * 2;
    border: 1px solid $border;
    background-color: $content;
    overflow-y: scroll;
    z-index: 1;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);

    @include pos(0, 0, 10px, 0);
}

.title {
    color: lighten($font, 10%);
    font-weight: bold;
    margin: 0;
}
