@import '../config';
@import '../mixins';
@import '../extensions';

.md .main {
    margin: 0 auto;
    max-width: $page-width;
    min-width: 820px;
    position: absolute;
    z-index: 1;

    @media screen and (max-width: $break-large) {
        max-width: none;
        display: block;
        margin: 0 20px;
    }

    @include pos(0, 0, 0, 0);

    & .center {
        z-index: 1;

        @include pos($header-height + $padding, 0, 0, 0);

        &.menu {
            .center-left {
                display: block;
                width: $center-left-width;
                @include pos(0, '', 0, 0);

                @media screen and (max-width: $break-menu) {
                    display: none;
                }
            }

            .center-right {
                left: $center-left-width;

                @media screen and (max-width: $break-menu) {
                    left: 0;
                }
            }
        }
    }

    .center-left {
        display: none;
    }

    .center-right {
        @include pos(0, 0, 0, 0);
    }
}

.md .center > .center-right > .content {
    padding: $padding $padding * 2;
    border: 1px solid $border;
    border-radius: $border-radius;
    background-color: $content;
    overflow-y: scroll;
    z-index: 1;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);

    @include pos(0, 0, 10px, 0);
}

.md.sys-msg {
    & > .main {
        @include pos($sys-msg-height, 0, 0, 0);
    }

    & > .sys-msg-text {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $sys-msg-height;
        background-color: lighten($error, 40%);
        border-bottom: 4px solid $error;
        overflow: hidden;
        overflow-y: scroll;

        @include transition-all(150ms);

        &.large {
            height: $sys-msg-large-height;
            overflow-y: scroll;
        }

        & > .sys-msg-text-content {
            margin: 0 auto;
            width: $page-width;

            @media screen and (max-width: $break-large) {
                padding: 0 $padding;
            }

            @include pos(0,0,0,0);
        }
    }
}

.md {
    .progressbar {
        height: 3px;
        width: 100%;
        background-color: #EEE;
        clear: both;
        //margin: 10px 0 ;
    }

    .progress.act {
        background: $primary;
        height: 3px;
        width: 0%;
        max-width: 100%;
        float: left;
        -webkit-animation: progress 2s 1 forwards;
        -moz-animation: progress 2s 1 forwards;
        -ms-animation: progress 2s 1 forwards;
        animation: progress 2s 1 forwards;
    }

    @-webkit-keyframes progress {
        from { } to { width: 100% }
    }

    @-moz-keyframes progress {
        from { } to { width: 100% }
    }

    @-ms-keyframes progress {
        from { } to { width: 100% }
    }

    @keyframes progress {
        from { } to { width: 100% }
    }
}
