@import '../config';
@import '../mixins';

.user {
    position: relative;
    z-index: 2;

    .user-menu {
        display: none;
        width: 300px;
        background-color: white;
        line-height: 35px;
        padding: $padding;
        border: 1px solid $border;
        border-radius: 2px;
        @include pos('', 0, '', '');
    }

    &.active {
        .user-menu {
            display: block;
        }
    }
}

.user-image {
    display: inline-block;

    & > .user-image {
        vertical-align: middle;
        padding: 8px;
        background-color: darken($background, 5%);
        border-radius: 50%;
    }
}

.user-name {
    clear: both;
    display: inline-block;
    font-size: 0.8em;
}

.top-right-menu {
    display: inline-block;
}

