{% if name is not defined or p is not defined %}
    <div class="notify error">
        The options <strong>name</strong> and <strong>p</strong> are required!
    </div>
{% elseif is_granted('ROLE_SYSTEM_GEO_OFFICE') %}
    {% set inheritance_enabled = false %}
    {% if p['_inheritance'][name|md_first_key] is defined and p['_inheritance'][name|md_first_key] == 1 %}
        {% set inheritance_enabled = true %}
    {% endif %}

    <input type="checkbox" name="p[_inheritance][{{ name|md_first_key }}]" value="1" {% if inheritance_enabled %}checked{% endif %} />
{% endif %}
