{% extends 'MetadorPluginBundle::template.html.twig' %}

{% block content %}
<div class="plugin-view">
    <h1>{% trans %}Daten Profil{% endtrans %}</h1>

    <div class="plugin-description">
        {% trans %}Metadaten-Profil für Daten{% endtrans %}.
    </div>
</div>
{% endblock %}
