$fontColor: #333;


@import "compass/css3";
@import "compass/utilities/general/clearfix";

$icons-layout:smart;
@import "icons/*.png";

@import "extra/normalize";
@import "extra/main";

@import "mixins";
@import "ui/base";
@import "project/base";

textarea.code {
    width: 100%;
    height: 100px;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
}
