{% extends 'MetadorManualBundle::template.html.twig' %}

{% block content %}
    <div class="text-right"><a href="{{ path('manual_index') }}" class="btn">zurück</a></div>
{% endblock %}

{% block manual %}

{% endblock %}
