// SIZES
$pageWidth: 960px;
$pageLeftWidth: 180px;
$pageTopHeight: 140px;
$pageBottomHeight: 20px;


// COLORS
$bright: #e7e7e7;
$dark: #292929;
$darkBorder: #0e0e0e;
$metador: #ff3000;
$topButton: #58c458;

// LOGO
$logoHeight: 122px;
$logoWidth: 132px;

body {
    //@include userSelect(none);
}

@import "page";
@import "content";
@import "login";
@import "menu";
@import "form";
@import "test";
@import "gdide";
@import "search";
@import "metadata-import";
