.globalMenu ul, .contentMenu ul, .pageMenu ul  {
    margin: 0;
    list-style: none;
    z-index: 1;
}

.globalMenu ul, .contentMenu ul {
    & > li {

    }
}

.globalMenu ul {
    width: $pageWidth;
    margin-left:-($pageWidth/2);
    @include pos(0,'','',50%);

    & > li {
        float: right;
        text-align: center;
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        margin-left: 10px;
        border-color: lighten($metador, 10%) darken($metador, 20%) darken($metador, 30%);
        background-color: lighten($metador, 10%);

        @include border-bottom-radius(5px);
        @include box-shadow(darken($dark, 10%) 2px 2px 2px, inset 0 -1px 0 0 lighten($metador, 10%));
        @include background-image(linear-gradient(top, lighten($metador, 10%), $metador));
        
        & a {
            display: block;
            padding: 5px 10px;
            font-size: 14px;
            text-decoration: none;
            color: white;
            font-weight: normal;

            @include text-shadow(darken($metador, 40%) 0 -1px 1px);
        }
        
        &:hover {
            background-color: $metador;
            padding: 4px 0px;
            @include background-image(linear-gradient(top, lighten($metador, 10%), darken($metador, 5%)));
        }

        &.act {
            @include box-shadow(darken($dark, 10%) 2px 2px 2px, inset 0 -1px 0 0 white);
            padding: 4px 0px;
        }
    }
}


.contentMenu ul {
    width: $pageWidth - $pageLeftWidth;
    margin-left:-($pageWidth/2 - $pageLeftWidth);

    @include pos($pageTopHeight - 27px,'','',50%);

    & > li {
        float: left;
        //height: 25px;
        text-align: center;
        cursor: pointer;
        color: white;
        margin-left: 10px;

        & > * {
            font-size: 12px;
            //height: 25px;
            padding: 5px 10px;
            color: white;
            text-decoration: none;
            display:block;
        }

        &:hover {
            text-decoration: underline;
        }

        &.act {
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: #333;
            background-color: white;
            color: black;

            & > * {
                color: black;
            }

            background-image: url('../img/noise.png');
            @include border-top-radius(5px);
        }
    }
}

.pageMenu ul {
    padding: 0;
    display: block;
    border-bottom: 1px solid lighten($bright, 10%);

    & > li {
        padding: 5px 10px;
        border-top: 1px solid lighten($bright, 10%);
        border-bottom: 1px solid darken($bright, 10%);
        cursor: pointer;
        font-size: 14px;
        color: lighten($fontColor, 15%);
        @include text-shadow(lighten($fontColor, 60%) 1px 1px 2px);

        &:hover {
            background-color: lighten($bright, 65%);
        }
        
        &.act {
            background-color: darken($bright, 10%);
            border-left: 4px solid $metador;
            border-top: 1px solid lighten($dark, 50%);
            border-bottom: 1px solid lighten($dark, 50%);
            color: $fontColor;
            // Menüpunkt nach rechts und links gezogen um Border zu verdecken.
            margin-right: -1px;
            margin-left: -4px;
            background-image: url('../img/noise.png');
            @include border-left-radius(5px);
        }

        &:first-child {
            border-top: 1px solid white;
        }
    }

    & a {
        font-size: 14px;
        color: lighten($fontColor, 15%);
        @include text-shadow(lighten($fontColor, 60%) 1px 1px 2px);
        text-decoration: none;
    }
}

.pageMenu label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 5px 0;
    background-color: #666;
}